<div class="container-fluid">

  <div class="container">
    <div class="row">

      <div class="col-sm-3">
        <img class="img-fluid" src="{{imagePath}}" alt="dude profile image">
        <div class="row-sm-1">
          <h4 style="text-decoration: underline;">{{userName}}</h4>
        </div>
      </div>
      <div class="col-sm-9">
        <h1>Find</h1>
          <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="category">
            <label ngbButtonLabel class="btn-secondary">
              <input ngbButton type="radio" value="Exercise"> Exercise
            </label>
            <label ngbButtonLabel class="btn-secondary">
              <input ngbButton type="radio"  value="Course"> Course
            </label>
            <label ngbButtonLabel class="btn-secondary">
              <input ngbButton type="radio" value="Workout"> Workout
            </label>
            <label ngbButtonLabel class="btn-secondary">
              <input ngbButton type="radio" value="Dudes"> Dudes
            </label>
            <label ngbButtonLabel class="btn-secondary">
              <input ngbButton type="radio" value="Fitness Provider"> Fitness Provider
            </label>
          </div>
        <div class="card-body row no-gutters align-items-center">
          <!-- Search form -->
          <div class="col-lg">
            <input id="typeahead-basic" type="text" class="form-control" [placeholder]="'Find '+ category" [(ngModel)]="inputText" />
          </div>
          <!--end of col-->
          <div class="col-auto">
            <button class="btn btn-md btn-success" (click)="startSearch(category)" type="submit">Find</button>
          </div>
        </div>
        <pre>Find {{category}} where name is like: {{inputText| json}}</pre>
      </div>

    </div>
  </div>

</div>
