<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

<div *ngIf="error" class="alert alert-warning alert-dismissible fade show" role="alert">{{ error }}
  <button type="button" (click)="vanishError()" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<ng-template #t let-fill="fill">
  <span class="star" [class.full]="fill === 100">
    <span class="half" [style.width.%]="fill">&#9733;</span>
  </span>
</ng-template>

<div class="container-fluid">

  <div class="container">
    <div class="row">

      <div class="col-sm-3">
        <img class="img-fluid" src="{{imagePath}}" alt="dude profile image">
        <div class="row-sm-1">
          <h4 style="text-decoration: underline;">{{userName}}</h4>
        </div>
      </div>
      <div class="col-sm-9">
        <div class="row">
          <!--start of col-->
          <div class="col-lg-8">
            <h1>Find</h1>
            <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="category">
              <label ngbButtonLabel class="btn-secondary">
                <input ngbButton type="radio" (click)="resetResults()" value="Exercise"> Exercise
              </label>
              <label ngbButtonLabel class="btn-secondary">
                <input ngbButton type="radio" (click)="resetResults()" value="Course"> Course
              </label>
              <label ngbButtonLabel class="btn-secondary">
                <input ngbButton type="radio"(click)="resetResults()" value="Workout"> Workout
              </label>
              <label ngbButtonLabel class="btn-secondary">
                <input ngbButton type="radio" (click)="resetResults()" value="Training Schedule"> Training Schedule
              </label>
            </div>
            <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="category">
              <label ngbButtonLabel class="btn-secondary">
                <input ngbButton type="radio"(click)="resetResults()"  value="Dudes"> Dudes
              </label>
              <label ngbButtonLabel class="btn-secondary">
                <input ngbButton type="radio"(click)="resetResults()"  value="Fitness Provider"> Fitness Provider
              </label>


            </div>
            <div class="card-body row no-gutters align-items-center">
              <!-- Search form -->
              <div class="col-lg">
                <input id="typeahead-basic" type="text" class="form-control" [placeholder]="'Find '+ category" [(ngModel)]="inputText" />
              </div>
              <!--end of col-->
              <div class="col-auto">
                <button class="btn btn-md btn-success" (click)="startSearch(category)" type="submit"><i class="fas fa-search"></i></button>
              </div>
            </div>
          </div>
          <!--end of col-->
          <!--start of col-->
          <div [ngSwitch]="category" class="col">
            <div *ngSwitchCase="'Exercise'">
              <p>Filter for Exercise</p>
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButtonExerciseCategory" data-toggle="dropdown" [(ngModel)]="filterExerciseCategory" ngDefaultControl>
                  Category: {{filterExerciseCategory}}
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" (click)="filterExerciseCategory ='None'; startSearch(category)">None</a>
                  <a class="dropdown-item" (click)="filterExerciseCategory ='Strength'; startSearch(category)">Strength</a>
                  <a class="dropdown-item" (click)="filterExerciseCategory ='Endurance'; startSearch(category)">Endurance</a>
                  <a class="dropdown-item" (click)="filterExerciseCategory ='Other'; startSearch(category)">Other</a>
                </div>
              </div>
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButtonExerciseMuscle" data-toggle="dropdown" [(ngModel)]="filterExerciseMuscle" ngDefaultControl>
                  Muscle Group: {{filterExerciseMuscle}}
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" *ngFor="let elem of muscleGroup" (click)="filterExerciseMuscle = elem; startSearch(category)">{{elem}}</a>
                </div>
              </div>
            </div>

            <div *ngSwitchCase="'Course'">
            </div>

            <div *ngSwitchCase="'Dudes'">
              <p>Filter for Dudes</p>
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButtonSelfAssessment" data-toggle="dropdown" [(ngModel)]="filterDudeSelfAssessment" ngDefaultControl>
                  Category: {{filterDudeSelfAssessment}}
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" (click)="filterDudeSelfAssessment ='None' ; startSearch(category)">None</a>
                  <a class="dropdown-item" (click)="filterDudeSelfAssessment ='Beginner' ; startSearch(category)">Beginner</a>
                  <a class="dropdown-item" (click)="filterDudeSelfAssessment ='Advanced' ; startSearch(category)">Advanced</a>
                  <a class="dropdown-item" (click)="filterDudeSelfAssessment ='Pro' ; startSearch(category)">Pro</a>
                </div>
              </div>
            </div>

            <div *ngSwitchCase="'Workout'">
              <p>Filter for Workout</p>
              <!--start dropdown-->
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButtonWorkoutDifficulty" data-toggle="dropdown"  [(ngModel)]="filterWorkoutDifficulty" ngDefaultControl>
                  Difficulty: {{filterWorkoutDifficulty}}
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" (click)="filterWorkoutDifficulty ='None' ; startSearch(category)">None</a>
                  <a class="dropdown-item" (click)="filterWorkoutDifficulty ='Beginner' ; startSearch(category)">Beginner</a>
                  <a class="dropdown-item" (click)="filterWorkoutDifficulty ='Advanced' ; startSearch(category)">Advanced</a>
                  <a class="dropdown-item" (click)="filterWorkoutDifficulty ='Pro' ; startSearch(category)">Pro</a>
                </div>
              </div>
              <!--end dropdown-->
              <!--start dropdown-->
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButtonWorkoutCaloriesMin" data-toggle="dropdown"  [(ngModel)]="filterWorkoutCaloriesMin" ngDefaultControl>
                  Min Calories: {{filterWorkoutCaloriesMin == '' || filterWorkoutCaloriesMin == undefined  ? 'None' : filterWorkoutCaloriesMin}}
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" (click)="filterWorkoutCaloriesMin ='' ; startSearch(category)">None</a>
                  <input knifeOnlyNumbers type="text" class="form-control" maxlength="3" id="WorkoutCaloriesMin" placeholder="Minimum Calories"  [(ngModel)]="filterWorkoutCaloriesMin">
                </div>
              </div>
              <!--end dropdown-->
              <!--start dropdown-->
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButtonWorkoutCaloriesMax" data-toggle="dropdown" [(ngModel)]="filterWorkoutCaloriesMax " ngDefaultControl>
                  Max Calories: {{filterWorkoutCaloriesMax == '' || filterWorkoutCaloriesMax == undefined  ? 'None' : filterWorkoutCaloriesMax}}
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" (click)="filterWorkoutCaloriesMax =''">None</a>
                  <input knifeOnlyNumbers type="text" class="form-control" maxlength="3" id="WorkoutCaloriesMax" placeholder="Maximum Calories"  [(ngModel)]="filterWorkoutCaloriesMax">
                </div>
              </div>
              <!--end dropdown-->
            </div>

            <div *ngSwitchCase="'Training Schedule'">
              <p>Filter for Training Schedule</p>
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButtonTSDifficulty" data-toggle="dropdown" [(ngModel)]="filterTrainingDifficulty" ngDefaultControl>
                  Category: {{filterTrainingDifficulty}}
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" (click)="filterTrainingDifficulty ='None' ; startSearch(category)">None</a>
                  <a class="dropdown-item" (click)="filterTrainingDifficulty ='Beginner' ; startSearch(category)">Beginner</a>
                  <a class="dropdown-item" (click)="filterTrainingDifficulty ='Advanced' ; startSearch(category)">Advanced</a>
                  <a class="dropdown-item" (click)="filterTrainingDifficulty ='Pro' ; startSearch(category)">Pro</a>
                </div>
              </div>
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButtonTSInterval" data-toggle="dropdown" [(ngModel)]="filterTrainingInterval" ngDefaultControl>
                  Interval Length: {{filterTrainingInterval}}
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" (click)="filterTrainingInterval ='None' ; startSearch(category)">None</a>
                  <a class="dropdown-item" (click)="filterTrainingInterval ='1' ; startSearch(category)">1</a>
                  <a class="dropdown-item" (click)="filterTrainingInterval ='2' ; startSearch(category)">2</a>
                  <a class="dropdown-item" (click)="filterTrainingInterval ='3' ; startSearch(category)">3</a>
                  <a class="dropdown-item" (click)="filterTrainingInterval ='4' ; startSearch(category)">4</a>
                  <a class="dropdown-item" (click)="filterTrainingInterval ='5' ; startSearch(category)">5</a>
                  <a class="dropdown-item" (click)="filterTrainingInterval ='6' ; startSearch(category)">6</a>
                  <a class="dropdown-item" (click)="filterTrainingInterval ='7' ; startSearch(category)">7</a>
                </div>
              </div>
            </div>
          </div>
          <!--end of col-->
        </div>
        <hr>

        <div class="row" *ngIf="category != 'Dudes' && category != 'Fitness Provider' && (entries != undefined || entriesTS != undefined) ">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button"  data-toggle="dropdown" [(ngModel)]="sortFilter" ngDefaultControl>
              Sort by: {{sortFilter}}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" (click)="sortFilter ='Rating' ; sortEntriesByRating()">Rating</a>
              <a class="dropdown-item" (click)="sortFilter ='Name' ; sortAlphabetically()">Name</a>
            </div>
          </div>
        </div>

        <div class="row">

          <div [ngSwitch]="category" class="col">
            <!--start case-->
            <ul *ngSwitchCase="'Exercise'" style="list-style-type: none;" >
              <li  *ngFor='let element of entries' >
                <mat-accordion>
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title style="font-size: large">
                        {{element.name}}
                      </mat-panel-title>
                      <div class="rating">
                        <ngb-rating  [rate]="element.rating" [readonly]="true" max="5"></ngb-rating>

                        {{element.rating}}/5
                      </div>

                    </mat-expansion-panel-header>
                    <hr>
                    <p>Equipment: {{element.equipment}}</p>
                    <p>Category: {{element.category}}</p>
                    <p>Muscle Group: {{element.muscleGroup}}</p>
                    <hr>
                    <p>"{{element.description}}"</p>
                    <div *ngIf="isDude" class="fav">
                      <button type="button" (click)="bookmarkExercise(element)" class="btn btn-favourite" data-toggle="modal" data-target="#bookmarkModal"><i class="fas fa-heart"></i></button>
                      <span *ngIf="dude.id != element.creatorId">
                        <button type="button" (click)="selectedItem = element" class="btn btn-rating" data-toggle="modal" data-target="#favoriteModal"><i class="fas fa-star"></i></button>
                      </span>
                    </div>
                  </mat-expansion-panel>
                </mat-accordion>
              </li>
            </ul>
            <!--end case-->
            <!--start case-->
            <ul *ngSwitchCase="'Course'" style="list-style-type: none;" >
              <li >
                <mat-accordion>
                  <mat-expansion-panel *ngFor='let element of entries' (opened)="setSelectedFPofCourse(element)">
                    <mat-expansion-panel-header >
                      <mat-panel-title style="font-size: large">
                        {{element.name}}
                      </mat-panel-title>

                      <div class="rating">
                        <ngb-rating  [rate]="element.rating" [readonly]="true" max="5"></ngb-rating>
                        {{element.rating}}/5
                      </div>

                    </mat-expansion-panel-header>
                    <p>Provided by: <a *ngIf="selectedFP" [routerLink]="['/fitnessProvider']" class="btn2 btn-link">{{selectedFP.name}}</a> </p>
                    <hr>
                    <p>"{{element.description}}"</p>
                    <div *ngIf="isDude" class="fav">
                    <button type="button" (click)="bookmarkCourse(element)" class="btn btn-favourite" data-toggle="modal" data-target="#bookmarkModal"><i class="fas fa-heart"></i></button>
                      <button type="button" (click)="selectedItem = element" class="btn btn-rating" data-toggle="modal" data-target="#favoriteModal"><i class="fas fa-star"></i></button>
                    </div>
                  </mat-expansion-panel>
                </mat-accordion>
              </li>
            </ul>
            <!--end case-->
            <!--start case-->
            <ul *ngSwitchCase="'Workout'" style="list-style-type: none;">
              <li>
                <mat-accordion>
                  <mat-expansion-panel (opened)="getSelectedWorkoutExercises(element)" *ngFor='let element of entries'>
                    <mat-expansion-panel-header>
                      <mat-panel-title style="font-size: large;">
                        {{element.name}}
                      </mat-panel-title>

                      <div class="rating">
                        <ngb-rating  [rate]="element.rating" [readonly]="true" max="5"></ngb-rating>
                        {{element.rating}}/5
                      </div>

                    </mat-expansion-panel-header>
                    <hr>
                    <p>Difficulty: {{convertDifficulty(element.difficulty)}}</p>
                    <p>Calorie Consumption: {{element.calorieConsumption}}</p>
                    <hr>
                    <p>"{{element.description}}"</p>
                    <div *ngIf="isDude" class="fav">
                    <button type="button" (click)="bookmarkWorkout(element)" class="btn btn-favourite" data-toggle="modal" data-target="#bookmarkModal"><i class="fas fa-heart"></i></button>
                      <span *ngIf="dude.id != element.creatorId">
                        <button type="button" (click)="selectedItem = element" class="btn btn-rating" data-toggle="modal" data-target="#favoriteModal"><i class="fas fa-star"></i></button>
                      </span>
                    </div>
                      <hr>
                    <p style="font-size: medium">Exercises:</p>
                    <div *ngFor='let exercise of exercisesForWorkouts'>
                      <mat-accordion>
                        <mat-expansion-panel>
                          <mat-expansion-panel-header>
                            <mat-panel-title style="font-size: large">
                              {{exercise.name}}
                            </mat-panel-title>
                          </mat-expansion-panel-header>
                          <hr>
                          <p>Category: {{exercise.category}}</p>
                          <p>Muscle Group: {{exercise.muscleGroup}}</p>
                          <!--p>Difficulty: {{convertDifficulty(exercise.difficulty_level)}}</p-->
                          <hr>
                          <p>Repetitions: {{exercise.repetitions}}</p>
                          <p>Sets: {{exercise.sets}}</p>
                          <hr>
                          <p>Duration: {{exercise.exDuration}}</p>
                          <p>Equipment: {{exercise.equipment}}</p>
                          <hr>
                          <p>"{{exercise.description}}"</p>
                           </mat-expansion-panel>
                      </mat-accordion>
                    </div>
                  </mat-expansion-panel>
                </mat-accordion>
              </li>
            </ul>
            <!--end case-->
            <!--start case-->
            <ul *ngSwitchCase="'Dudes'" style="list-style-type: none;" >
              <li  *ngFor='let element of entries' >
                <mat-accordion>
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title style="font-size: large">
                        {{element.name}}
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <hr>
                    <p>Gender: {{element.sex}}</p>
                    <hr>
                    <p>Self Assessment: {{convertDifficulty(element.selfAssessment)}}</p>
                    <hr>
                    <p>"{{element.description}}"</p>
                  </mat-expansion-panel>
                </mat-accordion>
              </li>
            </ul>
            <!--end case-->
            <!--start case-->
            <ul *ngSwitchCase="'Fitness Provider'" style="list-style-type: none;" >

              <li *ngFor='let element of entries'>
                <mat-accordion>
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title style="font-size: large">
                        {{element.name}}
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <hr>
                    <p>"{{element.description}}"</p>
                    <hr>
                    <p>Email: {{element.email}}</p>
                    <p>Adress: {{element.address}}</p>
                    <p>Phone: {{element.phoneNumber}}</p>
                    <hr>
                    <div *ngIf="isDude">
                    <button type="button" (click)="followSelectedFitnessProvider(element)" class="btn btn-secondary" data-toggle="modal" data-target="#followModal">Follow</button>
                    </div>
                    <hr>
                  </mat-expansion-panel>
                </mat-accordion>
              </li>
            </ul>
            <!--end case-->
            <!--start case-->
            <ul *ngSwitchCase="'Training Schedule'" style="list-style-type: none;">
              <li>
                <mat-accordion>
                  <mat-expansion-panel (opened)="getSelectedTrainingScheduleWorkouts(element)" *ngFor='let element of entriesTS'>
                    <mat-expansion-panel-header>
                      <mat-panel-title style="font-size: large;">
                        {{element.name}}
                      </mat-panel-title>

                      <div class="rating">
                        <ngb-rating  [rate]="element.rating" [readonly]="true" max="5"></ngb-rating>
                        {{element.rating}}/5
                      </div>

                    </mat-expansion-panel-header>
                    <hr>
                    <p>Difficulty: {{convertDifficulty(element.difficulty)}}</p>
                    <p>Interval Length: {{element.intervalLength}}</p>
                    <hr>
                    <p>"{{element.description}}"</p>
                    <div *ngIf="isDude" class="fav">
                      <button type="button" (click)="bookmarkTrainingSchedule(element)" class="btn btn-favourite" data-toggle="modal" data-target="#bookmarkModal"><i class="fas fa-heart"></i></button>
                      <span *ngIf="dude.id != element.creatorId">
                        <button type="button" (click)="selectedItem = element" class="btn btn-rating" data-toggle="modal" data-target="#favoriteModal"><i class="fas fa-star"></i></button>
                      </span>
                    </div>
                    <hr>
                    <p style="font-size: medium">Workouts:</p>
                    <div *ngIf="element.intervalLength >= 1">
                      <hr>
                      <p style="font-size: medium">Day 1:</p>
                      <div>
                        <mat-accordion>
                          <mat-expansion-panel (opened)="getSelectedTSWorkoutExercises(workout.id, workout.version)" *ngFor='let workout of d1'>
                            <mat-expansion-panel-header>
                              <mat-panel-title style="font-size: large">
                                {{workout.name}}
                              </mat-panel-title>
                            </mat-expansion-panel-header>
                            <hr>
                            <p>Calorie Consumption: {{workout.calorieConsumption}}</p>
                          <!--p>Difficulty: {{convertDifficulty(workout.difficulty_level)}}</p-->
                            <hr>
                          <p>"{{workout.description}}"</p>
                            <!--p> <button type="button" (click)="getSelectedTSWorkoutExercises(1, workout.id, workout.version)" class="btn btn-success float-right">Exercises:</button></p-->
                           <div *ngFor='let exercise of exercisesForWorkouts'>
                             <mat-accordion>
                               <mat-expansion-panel>
                                 <mat-expansion-panel-header>
                                   <mat-panel-title style="font-size: large">
                                     {{exercise.name}}
                                   </mat-panel-title>
                                 </mat-expansion-panel-header>
                                 <hr>
                                 <p>Category: {{exercise.category}}</p>
                                 <p>Muscle Group: {{exercise.muscleGroup}}</p>
                                 <!--p>Difficulty: {{convertDifficulty(exercise.difficulty_level)}}</p-->
                                <hr>
                                <p>Repetitions: {{exercise.repetitions}}</p>
                                <p>Sets: {{exercise.sets}}</p>
                                <hr>
                                <p>Duration: {{exercise.exDuration}} minutes</p>
                                <p>Equipment: {{exercise.equipment}}</p>
                                <hr>
                                <p>"{{exercise.description}}"</p>
                               </mat-expansion-panel>
                             </mat-accordion>
                           </div>
                          </mat-expansion-panel>
                        </mat-accordion>
                      </div>
                    </div>
                    <div *ngIf="interval >= 2">
                      <hr>
                      <p style="font-size: medium">Day 2:</p>
                      <div>
                        <mat-accordion>
                          <mat-expansion-panel (opened)="getSelectedTSWorkoutExercises(workout.id, workout.version)" *ngFor='let workout of d2'>
                            <mat-expansion-panel-header>
                              <mat-panel-title style="font-size: large">
                                {{workout.name}}
                              </mat-panel-title>
                            </mat-expansion-panel-header>
                            <hr>
                            <p>Calorie Consumption: {{workout.calorieConsumption}}</p>
                            <!--p>Difficulty: {{convertDifficulty(workout.difficulty_level)}}</p-->
                            <hr>
                            <p>"{{workout.description}}"</p>
                            <!--p> <button type="button" (click)="getSelectedTSWorkoutExercises(1, workout.id, workout.version)" class="btn btn-success float-right">Exercises:</button></p-->
                            <div *ngFor='let exercise of exercisesForWorkouts'>
                              <mat-accordion>
                                <mat-expansion-panel>
                                  <mat-expansion-panel-header>
                                    <mat-panel-title style="font-size: large">
                                      {{exercise.name}}
                                    </mat-panel-title>
                                  </mat-expansion-panel-header>
                                  <hr>
                                  <p>Category: {{exercise.category}}</p>
                                  <p>Muscle Group: {{exercise.muscleGroup}}</p>
                                  <!--p>Difficulty: {{convertDifficulty(exercise.difficulty_level)}}</p-->
                                  <hr>
                                  <p>Repetitions: {{exercise.repetitions}}</p>
                                  <p>Sets: {{exercise.sets}}</p>
                                  <hr>
                                  <p>Duration: {{exercise.exDuration}} minutes</p>
                                  <p>Equipment: {{exercise.equipment}}</p>
                                  <hr>
                                  <p>"{{exercise.description}}"</p>
                                </mat-expansion-panel>
                              </mat-accordion>
                            </div>
                          </mat-expansion-panel>
                        </mat-accordion>
                      </div>
                    </div>
                    <div *ngIf="interval >= 3">
                      <hr>
                      <p style="font-size: medium">Day 3:</p>
                      <div>
                        <mat-accordion>
                          <mat-expansion-panel (opened)="getSelectedTSWorkoutExercises(workout.id, workout.version)" *ngFor='let workout of d3'>
                            <mat-expansion-panel-header>
                              <mat-panel-title style="font-size: large">
                                {{workout.name}}
                              </mat-panel-title>
                            </mat-expansion-panel-header>
                            <hr>
                            <p>Calorie Consumption: {{workout.calorieConsumption}}</p>
                            <!--p>Difficulty: {{convertDifficulty(workout.difficulty_level)}}</p-->
                            <hr>
                            <p>"{{workout.description}}"</p>
                            <!--p> <button type="button" (click)="getSelectedTSWorkoutExercises(1, workout.id, workout.version)" class="btn btn-success float-right">Exercises:</button></p-->
                            <div *ngFor='let exercise of exercisesForWorkouts'>
                              <mat-accordion>
                                <mat-expansion-panel>
                                  <mat-expansion-panel-header>
                                    <mat-panel-title style="font-size: large">
                                      {{exercise.name}}
                                    </mat-panel-title>
                                  </mat-expansion-panel-header>
                                  <hr>
                                  <p>Category: {{exercise.category}}</p>
                                  <p>Muscle Group: {{exercise.muscleGroup}}</p>
                                  <!--p>Difficulty: {{convertDifficulty(exercise.difficulty_level)}}</p-->
                                  <hr>
                                  <p>Repetitions: {{exercise.repetitions}}</p>
                                  <p>Sets: {{exercise.sets}}</p>
                                  <hr>
                                  <p>Duration: {{exercise.exDuration}} minutes</p>
                                  <p>Equipment: {{exercise.equipment}}</p>
                                  <hr>
                                  <p>"{{exercise.description}}"</p>
                                </mat-expansion-panel>
                              </mat-accordion>
                            </div>
                          </mat-expansion-panel>
                        </mat-accordion>
                      </div>
                    </div>
                    <div *ngIf="interval >= 4">
                      <hr>
                      <p style="font-size: medium">Day 4:</p>
                      <div>
                        <mat-accordion>
                          <mat-expansion-panel (opened)="getSelectedTSWorkoutExercises(workout.id, workout.version)" *ngFor='let workout of d4'>
                            <mat-expansion-panel-header>
                              <mat-panel-title style="font-size: large">
                                {{workout.name}}
                              </mat-panel-title>
                            </mat-expansion-panel-header>
                            <hr>
                            <p>Calorie Consumption: {{workout.calorieConsumption}}</p>
                            <!--p>Difficulty: {{convertDifficulty(workout.difficulty_level)}}</p-->
                            <hr>
                            <p>"{{workout.description}}"</p>
                            <!--p> <button type="button" (click)="getSelectedTSWorkoutExercises(1, workout.id, workout.version)" class="btn btn-success float-right">Exercises:</button></p-->
                            <div *ngFor='let exercise of exercisesForWorkouts'>
                              <mat-accordion>
                                <mat-expansion-panel>
                                  <mat-expansion-panel-header>
                                    <mat-panel-title style="font-size: large">
                                      {{exercise.name}}
                                    </mat-panel-title>
                                  </mat-expansion-panel-header>
                                  <hr>
                                  <p>Category: {{exercise.category}}</p>
                                  <p>Muscle Group: {{exercise.muscleGroup}}</p>
                                  <!--p>Difficulty: {{convertDifficulty(exercise.difficulty_level)}}</p-->
                                  <hr>
                                  <p>Repetitions: {{exercise.repetitions}}</p>
                                  <p>Sets: {{exercise.sets}}</p>
                                  <hr>
                                  <p>Duration: {{exercise.exDuration}} minutes</p>
                                  <p>Equipment: {{exercise.equipment}}</p>
                                  <hr>
                                  <p>"{{exercise.description}}"</p>
                                </mat-expansion-panel>
                              </mat-accordion>
                            </div>
                          </mat-expansion-panel>
                        </mat-accordion>
                      </div>
                    </div>
                    <div *ngIf="interval >= 5">
                      <hr>
                      <p style="font-size: medium">Day 5:</p>
                      <div>
                        <mat-accordion>
                          <mat-expansion-panel (opened)="getSelectedTSWorkoutExercises(workout.id, workout.version)" *ngFor='let workout of d5'>
                            <mat-expansion-panel-header>
                              <mat-panel-title style="font-size: large">
                                {{workout.name}}
                              </mat-panel-title>
                            </mat-expansion-panel-header>
                            <hr>
                            <p>Calorie Consumption: {{workout.calorieConsumption}}</p>
                            <!--p>Difficulty: {{convertDifficulty(workout.difficulty_level)}}</p-->
                            <hr>
                            <p>"{{workout.description}}"</p>
                            <!--p> <button type="button" (click)="getSelectedTSWorkoutExercises(1, workout.id, workout.version)" class="btn btn-success float-right">Exercises:</button></p-->
                            <div *ngFor='let exercise of exercisesForWorkouts'>
                              <mat-accordion>
                                <mat-expansion-panel>
                                  <mat-expansion-panel-header>
                                    <mat-panel-title style="font-size: large">
                                      {{exercise.name}}
                                    </mat-panel-title>
                                  </mat-expansion-panel-header>
                                  <hr>
                                  <p>Category: {{exercise.category}}</p>
                                  <p>Muscle Group: {{exercise.muscleGroup}}</p>
                                  <!--p>Difficulty: {{convertDifficulty(exercise.difficulty_level)}}</p-->
                                  <hr>
                                  <p>Repetitions: {{exercise.repetitions}}</p>
                                  <p>Sets: {{exercise.sets}}</p>
                                  <hr>
                                  <p>Duration: {{exercise.exDuration}} minutes</p>
                                  <p>Equipment: {{exercise.equipment}}</p>
                                  <hr>
                                  <p>"{{exercise.description}}"</p>
                                </mat-expansion-panel>
                              </mat-accordion>
                            </div>
                          </mat-expansion-panel>
                        </mat-accordion>
                      </div>
                    </div>
                    <div *ngIf="interval >= 6">
                      <hr>
                      <p style="font-size: medium">Day 6:</p>
                      <div>
                        <mat-accordion>
                          <mat-expansion-panel (opened)="getSelectedTSWorkoutExercises(workout.id, workout.version)" *ngFor='let workout of d6'>
                            <mat-expansion-panel-header>
                              <mat-panel-title style="font-size: large">
                                {{workout.name}}
                              </mat-panel-title>
                            </mat-expansion-panel-header>
                            <hr>
                            <p>Calorie Consumption: {{workout.calorieConsumption}}</p>
                            <!--p>Difficulty: {{convertDifficulty(workout.difficulty_level)}}</p-->
                            <hr>
                            <p>"{{workout.description}}"</p>
                            <!--p> <button type="button" (click)="getSelectedTSWorkoutExercises(1, workout.id, workout.version)" class="btn btn-success float-right">Exercises:</button></p-->
                            <div *ngFor='let exercise of exercisesForWorkouts'>
                              <mat-accordion>
                                <mat-expansion-panel>
                                  <mat-expansion-panel-header>
                                    <mat-panel-title style="font-size: large">
                                      {{exercise.name}}
                                    </mat-panel-title>
                                  </mat-expansion-panel-header>
                                  <hr>
                                  <p>Category: {{exercise.category}}</p>
                                  <p>Muscle Group: {{exercise.muscleGroup}}</p>
                                  <!--p>Difficulty: {{convertDifficulty(exercise.difficulty_level)}}</p-->
                                  <hr>
                                  <p>Repetitions: {{exercise.repetitions}}</p>
                                  <p>Sets: {{exercise.sets}}</p>
                                  <hr>
                                  <p>Duration: {{exercise.exDuration}} minutes</p>
                                  <p>Equipment: {{exercise.equipment}}</p>
                                  <hr>
                                  <p>"{{exercise.description}}"</p>
                                </mat-expansion-panel>
                              </mat-accordion>
                            </div>
                          </mat-expansion-panel>
                        </mat-accordion>
                      </div>
                    </div>
                    <div *ngIf="interval >= 7">
                      <hr>
                      <p style="font-size: medium">Day 7:</p>
                      <div>
                        <mat-accordion>
                          <mat-expansion-panel (opened)="getSelectedTSWorkoutExercises(workout.id, workout.version)" *ngFor='let workout of d7'>
                            <mat-expansion-panel-header>
                              <mat-panel-title style="font-size: large">
                                {{workout.name}}
                              </mat-panel-title>
                            </mat-expansion-panel-header>
                            <hr>
                            <p>Calorie Consumption: {{workout.calorieConsumption}}</p>
                            <!--p>Difficulty: {{convertDifficulty(workout.difficulty_level)}}</p-->
                            <hr>
                            <p>"{{workout.description}}"</p>
                            <!--p> <button type="button" (click)="getSelectedTSWorkoutExercises(1, workout.id, workout.version)" class="btn btn-success float-right">Exercises:</button></p-->
                            <div *ngFor='let exercise of exercisesForWorkouts'>
                              <mat-accordion>
                                <mat-expansion-panel>
                                  <mat-expansion-panel-header>
                                    <mat-panel-title style="font-size: large">
                                      {{exercise.name}}
                                    </mat-panel-title>
                                  </mat-expansion-panel-header>
                                  <hr>
                                  <p>Category: {{exercise.category}}</p>
                                  <p>Muscle Group: {{exercise.muscleGroup}}</p>
                                  <!--p>Difficulty: {{convertDifficulty(exercise.difficulty_level)}}</p-->
                                  <hr>
                                  <p>Repetitions: {{exercise.repetitions}}</p>
                                  <p>Sets: {{exercise.sets}}</p>
                                  <hr>
                                  <p>Duration: {{exercise.exDuration}} minutes</p>
                                  <p>Equipment: {{exercise.equipment}}</p>
                                  <hr>
                                  <p>"{{exercise.description}}"</p>
                                </mat-expansion-panel>
                              </mat-accordion>
                            </div>
                          </mat-expansion-panel>
                        </mat-accordion>
                      </div>
                    </div>
                  </mat-expansion-panel>
                </mat-accordion>
              </li>
            </ul>
            <!--end case-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- modal for showing success in following -->
<div class="modal" id="followModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">You followed the Fitness Provider "{{followedFP}}"!</h4>
      </div>
      <div class="modal-footer">
        <p>To check your followed Fitness Providers, look at the link in your profile.</p>
      </div>

    </div>
  </div>
</div>

<!-- modal for setting bookmark -->
<div class="modal" id="bookmarkModal" (click)="vanishErrorBookmark()">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h4 *ngIf="!errorBookmark" class="modal-title">Successfully bookmarked {{bookmarkedName}}!</h4>
        <h4 *ngIf="errorBookmark" class="modal-title">You already bookmarked {{bookmarkedName}}!</h4>
      </div>
      <div class="modal-footer">
        <p>To check your bookmarked content, look at the Favourites page.</p>
      </div>

    </div>
  </div>
</div>

<!-- modal for setting bookmark -->
<div class="modal" id="favoriteModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-header">
        <h4 *ngIf="selectedItem != undefined " class="modal-title">Rate {{selectedItem.name}}</h4>
      </div>
      <div class="modalRating">
        <ngb-rating  [(rate)]="ratingForItem" max="5"></ngb-rating>
        {{ratingForItem}}/5
      </div>
      <div class="modal-footer">
        <button type="button" (click)="ratingForItem = 0" class="btn btn-danger" data-dismiss="modal">Cancel</button>
        <button type="button" (click)="rateItem(selectedItem)" class="btn btn-success" data-dismiss="modal">Rate</button>
      </div>
    </div>

  </div>
</div>


