<div class="container-fluid">

  <div class="container">
    <div class="row">

      <div class="col-sm-3">
        <img class="img-fluid" src="{{imagePath}}" alt="dude profile image">
        <div class="row-sm-1">
          <h4 style="text-decoration: underline;">{{userName}}</h4>
        </div>
      </div>
      <div class="col-sm-9">
        <h1>My Exercises</h1>
        <ul>
          <li *ngFor='let element of exercises'>
            <a [routerLink]="['/exercise']" (click)="setSelectedExercise(element)" class="btn btn-link">{{element.name}}</a>
            <button type="button" (click)="setToEditExercise(element)" class="btn btn-primary">Edit</button>
            <button type="button" (click)="setToDeleteExercise(element)" class="btn btn-primary">Delete</button>
          </li>
        </ul>
      </div>

    </div>
  </div>

</div>


