<div class="container-fluid">

  <div class="container">
    <div class="row">

      <div class="col-sm-3">
        <img class="img-fluid" src="{{imagePath}}" alt="dude profile image">
        <div class="row-sm-1">
          <h4 style="text-decoration: underline;">{{userName}}</h4>
        </div>
      </div>
      <div class="col-sm-9">
        <h1>My Exercises</h1>
        <p>Click on a name to see your exercise. Scroll to see more exercises!</p>
        <ul>
          <li *ngFor='let element of exercises'>
            <a [routerLink]="['/exercise']" (click)="setSelectedExercise(element)" class="btn btn-link">{{element.name}}</a>
            <button type="button" (click)="goToEditExercise(element)" class="btn btn-primary">Edit</button>
            <button type="button" (click)="setToDeleteExercise(element)" class="btn btn-primary" data-toggle="modal" data-target="#deleteModal">Delete</button>
          </li>
        </ul>
      </div>

    </div>
  </div>

</div>

<!-- modal for deleting exercise -->
<div class="modal" id="deleteModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title">Are you sure you want to delete your exercise "{{exerciseToDelete}}"?</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
        <button type="button" (click)="deleteExercise()" class="btn btn-success" data-dismiss="modal">Yes, delete</button>
      </div>

    </div>
  </div>
</div>


