<div *ngIf="error" class="alert alert-warning alert-dismissible fade show" role="alert">{{ error }}
  <button type="button" (click)="vanishError()" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
      integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

<div class="container-fluid">

  <div class="container">
    <div class="row">

      <div class="col-sm-3">
        <img class="img-fluid" src="{{imagePath}}" alt="dude profile image">
        <div class="row-sm-1">
          <h4 style="text-decoration: underline; text-align: center">{{userName}}</h4>
        </div>
      </div>
      <div class="col-sm-9">
        <h1>Choose Exercises</h1>
        <p>Search for exercises to add to your workout!</p>
        <div class="row">
          <span class="anchor" id="formRegister"></span>
          <form [formGroup]="registerForm">
            <div class="form-group">
              <input class="form-control" type="text" name="search" formControlName="name" autocomplete="off">
              <p></p>
              <button type="button" (click)="findExercisesByName()" class="btn btn-secondary">Search</button>
              <button type="button" [routerLink]="['/create-exercise-for-workout']" class="btn btn-secondary">Add new
                Exercise
              </button>

            </div>
            <div class="row">
              <div class="searchResults">
                <h4>Search Results</h4>
                <p>Click <i class="fas fa-plus"></i> to add a found exercise to your workout.</p>
                <ul>
                  <li *ngFor='let element of exercises'>
                    <mat-accordion>
                      <mat-expansion-panel>
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                            {{element.name}}
                          </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>Equipment: {{element.equipment}}</p>
                        <p>Category: {{element.category}}</p>
                        <p>Muscle Group: {{element.muscleGroup}}</p>
                        <p>Description: {{element.description}}</p>
                      </mat-expansion-panel>
                    </mat-accordion>
                    <button type="button" (click)="addToChosenExercises(element)"
                            class="btn btn-secondary"><i
                      class="fa fa-plus"></i></button>
                  </li>
                </ul>
              </div>
            </div>
            <div>
              <div class="row">
                <div class="chosenExercises">
                  <h4>Chosen Exercises</h4>
                  <p>Click <i class="fa fa-trash"></i> to remove an exercise from your workout. Click <i
                    class="fas fa-check"></i> to confirm the entered exercise data.</p>
                  <ul>
                    <li *ngFor='let element of chosenExercises'>
                      <p>{{element.exercise.name}}
                        <button type="button" (click)="removeFromChosenExercises(element)" class="btn btn-secondary"><i
                          class="fa fa-trash"></i></button>
                        <button type="button" (click)="setExData(element)" class="btn btn-secondary"><i
                          class="fas fa-check"></i></button>
                      </p>
                      <div class="form-group">
                        <form [formGroup]="workoutExForm">
                          <span class="anchor" id="workoutExForm"></span>

                          <div class="form-group">
                            <label for="repetitions">Repetitions</label>
                            <input type="number" name="repetitions" maxlength="50" class="form-control" id="repetitions"
                                   formControlName="repetitions"
                                   aria-describedby="repetitionsHelp" placeholder="Enter number of repetitions">
                            <div *ngIf="submitted && !!workoutExForm.controls.repetitions.errors" class="error">
                              <small class="form-text text-warning"
                                     *ngIf="!!workoutExForm.controls.repetitions.errors.required">
                                Number of repetitions is
                                required!
                              </small>
                              <small class="form-text text-warning"
                                     *ngIf="!!workoutExForm.controls.repetitions.errors?.max">
                                The maximum number of repetitions can only be 200!
                              </small>
                            </div>
                          </div>

                          <div class="form-group">
                            <label for="sets">Sets</label>
                            <input type="number" name="sets" class="form-control" id="sets" formControlName="sets"
                                   aria-describedby="setsHelp" placeholder="Enter number of sets">
                            <div *ngIf="submitted && !!workoutExForm.controls.sets.errors" class="error">
                              <small class="form-text text-warning"
                                     *ngIf="!!workoutExForm.controls.sets.errors.required">
                                Number
                                of sets is
                                required!
                              </small>
                              <small class="form-text text-warning"
                                     *ngIf="!!workoutExForm.controls.sets.errors.max">
                                The maximum number of sets can only be 20!
                              </small>
                            </div>
                          </div>

                          <div class="form-group">
                            <label for="duration">Duration</label>
                            <input type="number" name="duration" class="form-control" id="duration"
                                   formControlName="duration"
                                   aria-describedby="durationHelp" placeholder="Enter duration of exercise in minutes">
                            <div *ngIf="submitted && !!workoutExForm.controls.duration.errors" class="error">
                              <small class="form-text text-warning"
                                     *ngIf="!!workoutExForm.controls.duration.errors.required">
                                Duration exercise is
                                required!
                              </small>
                              <small class="form-text text-warning"
                                     *ngIf="!!workoutExForm.controls.duration.errors.max">
                                The duration cannot exceed 1440 minutes!
                              </small>
                            </div>
                          </div>
                        </form>
                      </div>
                      <h6>Current Exercise Status: {{element.exercise.name}}</h6>
                      <p>Repetitions: {{element.repetitions}}</p>
                      <p>Sets: {{element.sets}}</p>
                      <p>Duration: {{element.exDuration}} min</p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </form>
        </div>
        <a [routerLink]="['/create-workout']" (click)="backToCreateWorkout()" class="btn btn-link">Cancel</a>
        <button type="button" [routerLink]="['/create-workout']" (click)="saveExercisesTemporarily()"
                class="btn btn-success float-right">Add to workout
        </button>
      </div>
    </div>
  </div>
</div>
