<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
      integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
<div class="container-fluid">

  <div class="container">
    <div class="row">

      <div class="col-sm-3">
        <img class="img-fluid" src="{{imagePath}}" alt="fitness provider profile image">
        <div class="row-sm-1">
          <h4 style="text-decoration: underline;">{{userName}}</h4>
        </div>
      </div>
      <div class="col-sm-9">
        <div class="row">
          <div class="col">
            <h1>{{fitnessProviderName}}</h1>
            <p> Description: {{description}} </p>
            <p> Address: {{address}} </p>
            <p> E-Mail: {{email}} </p>
            <p> Phone Number: {{phoneNumber}} </p>
            <p> Website: {{website}} </p>
            <h3>Courses:</h3>
            <ul>
              <li *ngFor='let element of courses'>
                <a [routerLink]="['/course-dude-view']" (click)="setSelectedCourse(element)"
                   class="btn2 btn-link">{{element.name}}</a>
              </li>
            </ul>
          </div>

          <div *ngIf="error" class="alert alert-danger" role="alert">{{ error }}
            <button type="button" (click)="vanishError()" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="col">
            <img class="img-fluid" src="{{imagePath2}}" align="center" alt="fitness provider image">
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
