<h3 class="editTitle" align="center">Edit Dude-Profile </h3>

<div class="pt-3">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <span class="anchor" id="formEditDude"></span>
      <form [formGroup]="editForm" (ngSubmit)="editUser()">
        <div class="form-group">
          <label for="nameEdit">Username*</label>
          <input ngModel = "{{userName}}" type="text" name="name" maxlength="50" formControlName="name" class="form-control" id="nameEdit"
                 aria-describedby="nameEditHelp">
          <div *ngIf="submitted && !!editForm.controls.name.errors" class="error">
            <small class="form-text text-danger" *ngIf="!!editForm.controls.name.errors.required">Your name is
              required!
            </small>
            <small class="form-text text-danger" *ngIf="!!editForm.controls.name.errors.nameCheck">Your name is
              already taken!
            </small>
          </div>
        </div>

        <div class="form-group">
          <label for="passwordEdit">Password*</label>
          <input ngModel="{{password}}" knifeNoSpaces type="password" formControlName="password" name="password" class="form-control" id="passwordEdit">
          <div *ngIf="submitted && !!editForm.controls.password.errors" class="error">
            <small class="form-text text-danger" *ngIf="!!editForm.controls.password.errors.required">Your password is
              required!
            </small>
            <small class="form-text text-danger" *ngIf="!!editForm.controls.password.errors.minlength">Your password
              must be at least 8 characters long!
            </small>
          </div>
        </div>

        <div class="form-group">
          <label for="passwordConfirmedEdit">Password Confirmed*</label>
          <input ngModel="{{password}}" knifeNoSpaces  type="password" formControlName="passwordConfirmed" name="passwordConfirmed" class="form-control" id="passwordConfirmedEdit">
          <div *ngIf="submitted && !!editForm.controls.passwordConfirmed.errors" class="error">
            <small class="form-text text-danger" *ngIf=" !!editForm.controls.passwordConfirmed.errors.required">Your password is
              required!
            </small>
            <small class="form-text text-danger" *ngIf="!!editForm.controls.passwordConfirmed.errors.passwordCheck"> Confirmed password does not match
            </small>
          </div>
        </div>

        <div class="form-group">
          <label for="description">Description</label>
            <textarea type="text" name="description" formControlName="description" class="form-control" id="description"
                   ngModel="{{description}}" maxlength="3000"></textarea>
          <span>{{3000 - editForm.controls.description.value.length}} left</span>
        </div>

        <div class="form-group">
          <label for="emailEdit">Email*</label>
          <input ngModel="{{email}}" type="text" name="email" class="form-control" id="emailEdit" formControlName="email"
                 aria-describedby="emailHelp">
          <div *ngIf="submitted && !!editForm.controls.email.errors" class="error">
            <small class="form-text text-danger" *ngIf="!!editForm.controls.email.errors.required">Your email is
              required!
            </small>
            <small class="form-text text-danger" *ngIf="!!editForm.controls.email.errors.email">Your email is
              invalid!
            </small>
          </div>
        </div>

        <div class="form-group">
          <span class="sex">Gender*</span>
          <div class="gap_space">
            <div class= "custom-control custom-radio custom-control-inline">
              <input id="maleEdit" type="radio" class="custom-control-input" value= "Male" name="sex" formControlName="sex" [checked]="male">
              <label class="custom-control-label" for="maleEdit">Male</label>
            </div>

            <div class="custom-control custom-radio custom-control-inline">
              <input id="femaleEdit" type="radio" class="custom-control-input" value= "Female" formControlName="sex" name="sex" [checked]="female">
              <label class="custom-control-label" for="femaleEdit">Female</label>
            </div>

            <div class="custom-control custom-radio custom-control-inline">
              <input id="othersEdit" type="radio" class="custom-control-input" value= "Other" formControlName="sex" name="sex" [checked]="other">
              <label class="custom-control-label" for="othersEdit">Other</label>
            </div>

            <div *ngIf="submitted && !!editForm.controls.sex.errors" class="error">
              <small class="form-text text-danger" *ngIf="!!editForm.controls.sex.errors.required">Your gender is
                required!
              </small>
            </div>
          </div>
        </div>

        <div class="form-group">
          <span class="selfAssessment">Self-assessment*</span>
          <div class="gap_space">
            <div class= "custom-control custom-radio custom-control-inline">
              <input id="beginnerEdit" type="radio" class="custom-control-input" value= 1 name="selfAssessment" formControlName="selfAssessment" [checked]="beginner">
              <label class="custom-control-label" for="beginnerEdit">Beginner</label>
            </div>

            <div class="custom-control custom-radio custom-control-inline">
              <input id="advancedEdit" type="radio" class="custom-control-input" value = 2 name="selfAssessment" formControlName="selfAssessment" [checked]="advanced">
              <label class="custom-control-label" for="advancedEdit">Advanced</label>
            </div>

            <div class="custom-control custom-radio custom-control-inline">
              <input id="proEdit" type="radio" class="custom-control-input" value=3 name="selfAssessment" formControlName="selfAssessment" [checked]="pro">
              <label class="custom-control-label" for="proEdit">Pro</label>
            </div>
            <div *ngIf="submitted && !!editForm.controls.selfAssessment.errors" class="error">
              <small class="form-text text-danger" *ngIf="!!editForm.controls.selfAssessment.errors.required">Your self-assessment is
                required!
              </small>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="birthdayEdit">Birthday*</label>
          <input ngModel="{{birthday}}" type="date" name="birthday" class="form-control" formControlName="birthday" id="birthdayEdit"
                 aria-describedby="birthdayHelp">
          <div *ngIf="submitted && !!editForm.controls.birthday.errors" class="error">
            <small class="form-text text-danger" *ngIf="!!editForm.controls.birthday.errors.required">Your birthday is
              required!
            </small>
          </div>
        </div>

        <div class="form-group">
          <label for="heightEdit">Height in cm*</label>
          <input ngModel="{{height}}" knifeOnlyNumbers type="text" maxlength="3" class="form-control" formControlName="height" id="heightEdit"
                 aria-describedby="heightHelp">
          <div *ngIf="submitted && !!editForm.controls.height.errors" class="error">
            <small class="form-text text-danger" *ngIf="!!editForm.controls.height.errors.required">Your height is
              required!
            </small>
          </div>
        </div>

        <div class="form-group">
          <label for="weightEdit">Weight in kg*</label>
          <input ngModel="{{weight}}" knifeOnlyNumbers type="text" maxlength="3" name="weight" formControlName="weight" class="form-control" id="weightEdit"
                 aria-describedby="weightHelp">
          <div *ngIf="submitted && !!editForm.controls.weight.errors" class="error">
            <small class="form-text text-danger" *ngIf="!!editForm.controls.weight.errors.required">Your weight is
              required!
            </small>
          </div>
        </div>

        <div class="form-group">
          <span class="isPrivate">Visibility of your profile*</span>
          <div class="gap_space">
            <div class="custom-control custom-radio custom-control-inline">
              <input id="public" type="radio" class="custom-control-input" value=false name="isPrivate"
                     formControlName="isPrivate" [checked]="public">
              <label class="custom-control-label" for="public">Public</label>
            </div>

            <div class="custom-control custom-radio custom-control-inline">
              <input id="private" type="radio" class="custom-control-input" value=true name="isPrivate"
                     formControlName="isPrivate" [checked]="private">
              <label class="custom-control-label" for="private">Private</label>
            </div>
            <div *ngIf="submitted && !!editForm.controls.isPrivate.errors" class="error">
              <small class="form-text text-danger" *ngIf="!!editForm.controls.isPrivate.errors.required">Visibility of your profile is required!
              </small>
            </div>
          </div>
        </div>

        <div *ngIf="error" class="alert alert-danger" role="alert">{{ error }}
          <button type="button" (click)="vanishError()" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <button type="button" (click)="editUser()" class="btn btn-success float-right">Submit</button>
        <a [routerLink]="['/dude-profile']" class="btn btn-link">Cancel</a>
      </form>
      <p><small>Fields marked with * are mandatory!</small></p>
    </div>
  </div>
</div>
