.container {
  padding: 0px;
  margin-top: 70px;
  margin-bottom: 70px;
  background: white;
  min-height: 700px;
}

.img-fluid {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 200px;
  height: 200px;
}

.col-sm-3 {
  background: lightskyblue;
  min-height: 700px;
}

.row-sm-1 {
  padding: 20px;
  margin-bottom: 50px;
  text-align: center;
  color: black;
  line-height: 10px;
}

.col-sm-9 {
  padding: 40px;
}

hr {
  display: block;
  margin-top: 2.5em;
  margin-bottom: 2.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}
