<div *ngIf="error" class="alert alert-warning alert-dismissible fade show" role="alert">{{ error }}
  <button type="button" (click)="vanishError()" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<body>
<div class="container-fluid">

  <div class="container">
    <div class="row">

      <div class="col-sm-3">
        <img class="img-fluid" src="{{imagePath}}" alt="dude profile image">
        <div class="row-sm-1"></div>
        <div class="row-sm-10">
          <h4 style="text-decoration: underline;">{{userName}}</h4>
          <p></p>
          <p>Adress: {{adress}}</p>
          <p>E-Mail: {{email}}</p>
          <p>Phone: {{phoneNumber}}</p>
          <p>Website: {{website}}</p>
          <p>Follower: {{numOfFollowers}}, <a [routerLink]="['/follower']" class="btn2 btn-link">Mensch</a></p>
          <p>Courses: {{courses}} </p>
        </div>
        <div class="row-sm-1">
          <a [routerLink]="['/edit']" class="btn btn-link">Edit Profile</a>
        </div>
      </div>
      <div class="col-sm-9">
        <h1>About {{userName}}</h1>
        <p>{{description}}</p>
      </div>

    </div>
  </div>

</div>

</body>

