<div *ngIf="error" class="alert alert-warning alert-dismissible fade show" role="alert">{{ error }}
  <button type="button" (click)="vanishError()" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<body>
<div class="container-fluid">

  <div class="container">
    <div class="row">

      <div class="col-sm-3">
        <img class="img-fluid" src="{{imagePath}}" alt="dude profile image">
        <div class="row-sm-1"></div>
        <div class="row-sm-10">
          <h4 style="text-decoration: underline;">{{userName}}</h4>
          <p></p>
          <p>Adress: {{address}}</p>
          <p>E-Mail: {{email}}</p>
          <p>Phone: {{phoneNumber}}</p>
          <p>Website: {{website}}</p>
          <div  *ngIf="authService.isLoggedIn() && authService.getUserRole() === 'DUDE'">
            <p>Follower: {{numOfFollowers}}</p>
          </div>
          <div  *ngIf="authService.isLoggedIn() && authService.getUserRole() === 'FITNESS_PROVIDER'">
            <p>Followers: {{numOfFollowers}}, <a [routerLink]="['/follower']" class="btn2 btn-link">Followers</a></p>
          </div>
         </div>
        <div class="row-sm-1">
          <div  *ngIf="authService.isLoggedIn() && authService.getUserRole() === 'FITNESS_PROVIDER'">
            <a [routerLink]="['/edit-fitnessProvider']" class="btn btn-link">Edit Profile</a>
            <a class="btn btn-link2" (click)="file.click()">Upload Picture</a>
          </div>
        </div>
      </div>
      <div class="col-sm-9">
        <h1>About {{userName}}</h1>
        <p>{{description}}</p>
        <h3>Our Courses</h3>
        <p>Click the course name to find out more!</p>
        <ul>
          <li *ngFor='let element of courses'>
          <a [routerLink]="['/course']" (click)="setChosenCourse(element)" class="btn3 btn-link">{{element.name}}</a>
          </li>
        </ul>
      </div>

      <input #file type="file" style="display: none" accept='image/*' data-toggle="modal" data-target="#cropModal" (change)="fileChangeEvent($event)" />
      <div class="modal" id="cropModal">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">

            <div class="modal-header">
              <h4 class="modal-title">Select a picture to upload for your profile</h4>
            </div>
            <span  style="color:orange;  position: center; margin-left: auto; margin-right: auto; " *ngIf="message && crop">{{message}}</span>
            <image-cropper
              [imageChangedEvent]="imageChangedEvent"
              [maintainAspectRatio]="true"
              [resizeToWidth]="0"
              (imageCropped)="imageCropped($event)"
              (imageLoaded)="imageLoaded()"
              (loadImageFailed)="loadImageFailed()"
            ></image-cropper>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
              <button (click)= "cropPicture()" class="btn btn-success" data-dismiss="modal" >Crop </button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>

</body>

