<div *ngIf="error" class="alert alert-warning alert-dismissible fade show" role="alert">{{ error }}
  <button type="button" (click)="vanishError()" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<body>
<div class="container-fluid">

  <div class="container">
    <div class="row">

      <div class="col-sm-3">
        <img class="img-fluid" src="{{imagePath}}" alt="dude profile image">
        <div class="row-sm-1"></div>
        <div class="row-sm-10">
          <h4 style="text-decoration: underline; text-align: center">{{userName}}</h4>
          <img class="img-exercise" src="{{imagePathCourse}}" alt="course image">
        </div>
      </div>
      <div class="col-sm-9">
        <div class="form">
          <form [formGroup]="registerForm" (ngSubmit)="addCourse()">
            <span class="anchor" id="formRegister"></span>
            <h1>Create Course</h1>

            <div class="form-group">
              <label for="nameForCourse">Name*</label>
              <input type="text" name="nameForCourse" maxlength="50" class="form-control" id="nameForCourse" formControlName="nameForCourse"
                     aria-describedby="nameForCourseHelp" placeholder="Enter name">
              <div *ngIf="submitted && !!registerForm.controls.nameForCourse.errors" class="error">
                <small class="form-text text-warning" *ngIf="!!registerForm.controls.nameForCourse.errors.required">Name is
                  required!
                </small>
              </div>
            </div>

            <div class="form-group">
              <label for="descriptionForCourse">Description*</label>
              <textarea type="text" name="descriptionForCourse" class="form-control" id="descriptionForCourse" formControlName="descriptionForCourse"
                     aria-describedby="descriptionForCourseHelp" placeholder="Enter description" maxlength="3000" > </textarea>
              <span>{{3000 - registerForm.controls.descriptionForCourse.value.length}} left</span>
              <div *ngIf="submitted && !!registerForm.controls.descriptionForCourse.errors" class="error">
                <small class="form-text text-warning" *ngIf="!!registerForm.controls.descriptionForCourse.errors.required">Description is
                  required!
                </small>
              </div>
            </div>
          </form>
          <button type="button" (click)="addCourse()" class="btn btn-success float-right">Add</button>
          <a [routerLink]="['/create-for-FP']" class="btn btn-link">Cancel</a>
      </div>
        <p><small>Fields marked with * are mandatory!</small></p>
      </div>
  </div>
  </div>
</div>

</body>



