<div *ngIf="error" class="alert alert-warning alert-dismissible fade show" role="alert">{{ error }}
  <button type="button" (click)="vanishError()" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
      integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <img class="img-fluid" src="{{imagePath}}" alt="dude profile image">
        <div class="row-sm-1">
          <h4 style="text-decoration: underline; text-align: center">{{userName}}</h4>
        </div>
      </div>

      <div class="col-sm-9">
        <h1>Choose Workouts</h1>
        <p>Search for workouts to add to your training schedule!</p>
        <div class="row">
          <span class="anchor" id="formRegister"></span>
          <form [formGroup]="registerForm">
            <div class="form-group">
              <input class="form-control" type="text" name="search" formControlName="name" autocomplete="off">
              <p></p>
              <button type="button" (click)="findWorkoutsByName()" class="btn btn-secondary">Search</button>
            </div>

            <div class="row">
              <div class="searchResults">
                <h4>Search Results</h4>
                <p>Click <i class="fas fa-plus"></i> to add a found workout to your training schedule.</p>
                <ul>
                  <li *ngFor='let element of workouts'>
                    <mat-accordion>
                      <mat-expansion-panel>
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                            {{element.name}}
                          </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>Calorie Consumption: {{element.calorieConsumption}}</p>
                        <p>Difficulty: {{element.difficulty}}</p>
                        <p>Description: {{element.description}}</p>
                      </mat-expansion-panel>
                    </mat-accordion>
                    <button type="button" (click)="addToChosenWorkouts(element)"
                            class="btn btn-secondary"><i
                      class="fa fa-plus"></i></button>
                  </li>
                </ul>
              </div>
            </div>

            <div>
              <div class="row">
                <div class="chosenWorkouts">
                  <h4>Chosen Workouts</h4>
                  <p>Click <i class="fa fa-trash"></i> to remove a workout from your training schedule. Click <i
                    class="fas fa-check"></i> to confirm the entered workout data.</p>
                  <ul>

                    <li *ngFor='let element of chosenWorkouts'>
                      <p>{{element.workout.name}}
                        <button type="button" (click)="removeFromChosenWorkouts(element)" class="btn btn-secondary"><i
                          class="fa fa-trash"></i></button>
                        <button type="button" (click)="setWorkData(element)" class="btn btn-secondary"><i
                          class="fas fa-check"></i></button>
                      </p>

                      <div class="form">
                        <form [formGroup]="trainingWorkForm" (ngSubmit)="addCourse()">
                          <span class="anchor" id="trainingWorkForm"></span>

                          <div class="form-group">
                            <label for="day">Day</label>
                            <input type="number" name="day" maxlength="1" class="form-control" id="day"
                                   formControlName="day"
                                   aria-describedby="dayHelp" placeholder="Enter day of workout">
                            <div *ngIf="submitted && !!trainingWorkForm.controls.day.errors" class="error">
                              <small class="form-text text-warning"
                                     *ngIf="!!trainingWorkForm.controls.day.errors.required">
                                Day number is
                                required!
                              </small>
                            </div>
                          </div>

                        </form>
                      </div>
                      <p>Day: {{element.day}}</p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </form>
        </div>

        <a [routerLink]="['/edit-training-schedule']" (click)="backToCreateTrainingSchedule()" class="btn btn-link">Cancel</a>
        <button type="button" [routerLink]="['/edit-training-schedule']" (click)="saveWorkoutsTemporarily()"
                class="btn btn-success float-right">Add to training schedule
        </button>
      </div>
    </div>
  </div>
</div>
