<div class="container-fluid">

  <div class="container">
    <div class="row">

      <div class="col-sm-3">
        <img class="img-fluid" src="{{imagePath}}" alt="dude profile image">
        <div class="row-sm-1">
          <h4 style="text-decoration: underline; text-align: center">{{userName}}</h4>
        </div>
      </div>
      <div class="col-sm-9">
        <h1>Create your own Exercises, Workouts and Training Schedules</h1>
        <p><a [routerLink]="['/create-exercise']" class="btn btn-link">Create Exercise</a></p>
        <p><a [routerLink]="['/create-workout']" class="btn btn-link">Create Workout</a></p>
        <p><a [routerLink]="['/create-trainingSchedule-m']" class="btn btn-link">Create Training Schedule manually</a></p>
        <p><a [routerLink]="['/create-trainingSchedule-r']" class="btn btn-link">Create Training Schedule randomly</a></p>
      </div>

    </div>
  </div>

</div>
