<div *ngIf="error" class="alert alert-warning alert-dismissible fade show" role="alert">{{ error }}
  <button type="button" (click)="vanishError()" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<!-- start of first view -->

<div *ngIf="generalTSData" class="container-fluid">

  <div class="container">
    <div class="row">

      <div class="col-sm-3">
        <img class="img-fluid" src="{{imagePath}}" alt="dude profile image">
        <div class="row-sm-1">
          <h4 style="text-decoration: underline; text-align: center">{{userName}}</h4>
        </div>
      </div>
      <div class="col-sm-9">
        <h1>Create Training Schedule</h1>

        <!--start dropdown-->
        <mat-form-field>
          <mat-label>Interval</mat-label>
          <mat-select>
            <mat-option *ngFor="let days of intervalDays" [value]="days" (click)="setChosenInterval(days)">
              {{days}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <!--end dropdown-->

        <button type="button" (click)="createTrainingSchedule()" class="btn btn-success float-right">Create</button>
        <a [routerLink]="['/create']" class="btn btn-link">Cancel</a>

        <button type="button" (click)="changeView()" class="btn btn-secondary float-right">Add Workouts</button>
      </div>
    </div>
  </div>
</div>

<!-- end of first view -->
<!-- --------------------------------------------------------------------------------------------- -->
<!-- start of second view -->

<div *ngIf="!generalTSData" class="container-fluid">

  <div class="container-tsPlanning">
    <div class="row-workoutPlanning">
      <div class="col-waPlanning">
        <!-- start of info -->
        <div class="row-info">
          <h1>Add Workouts to your Training Schedule</h1>
        </div>
        <!-- start of searchbar -->
        <div class="row-search">
          <h4>Find Workouts</h4>
          <p>TODO: searchbar</p>
        </div>

        <!-- --------------------------------------------------------------------------------------------- -->

        <div *ngIf="interval === 1">

          <!-- start of search results -->
          <div class="row-searchResults">
            <h4>Search results</h4>
            <p>TODO: show search results in accordeon</p>

            <div
              cdkDropList
              #searchResults="cdkDropList"
              [cdkDropListData]="searchRes"
              [cdkDropListConnectedTo]="[day1]"
              [id]="'searchRes1'"
              class="example-list"
              (cdkDropListDropped)="drop($event)">
              <div class="example-box" *ngFor="let item of searchRes" cdkDrag>

                <mat-accordion>
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title style="font-size: large">
                        {{item}}
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <hr>
                    <p>some workout data</p>
                    <hr>
                    <p>description</p>
                  </mat-expansion-panel>
                </mat-accordion>

              </div>
            </div>
          </div>

          <!-- start of schedule -->
          <div class="row-intervals">
            <h4>My Training Schedule</h4>
            <div class="row">
              <div class="col-day">
                <h6>Day 1</h6>
                <div
                  cdkDropList
                  #day1="cdkDropList"
                  [cdkDropListData]="d1"
                  [cdkDropListConnectedTo]="[searchResults]"
                  (cdkDropListDropped)="drop($event)"
                  class="example-list">
                  <div class="example-box" *ngFor="let item of d1" cdkDrag>

                    <mat-accordion>
                      <mat-expansion-panel>
                        <mat-expansion-panel-header>
                          <mat-panel-title style="font-size: large">
                            {{item}}
                          </mat-panel-title>
                        </mat-expansion-panel-header>
                        <hr>
                        <p>some workout data</p>
                        <hr>
                        <p>description</p>
                      </mat-expansion-panel>
                    </mat-accordion>

                  </div>

                </div>

              </div>
            </div>

          </div>
        </div>

        <!-- --------------------------------------------------------------------------------------------- -->

        <div *ngIf="interval === 2">

          <!-- start of search results -->
          <div class="row-searchResults">
            <h4>Search results</h4>
            <p>TODO: show search results in accordeon</p>

            <div
              cdkDropList
              #searchResults="cdkDropList"
              [cdkDropListData]="searchRes"
              [cdkDropListConnectedTo]="[day1, day2]"
              [id]="'searchRes2'"
              class="example-list"
              (cdkDropListDropped)="drop($event)">
              <div class="example-box" *ngFor="let item of searchRes" cdkDrag>

                <mat-accordion>
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title style="font-size: large">
                        {{item}}
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <hr>
                    <p>some workout data</p>
                    <hr>
                    <p>description</p>
                  </mat-expansion-panel>
                </mat-accordion>

              </div>
            </div>
          </div>

          <!-- start of schedule -->
          <div class="row-intervals">
            <h4>My Training Schedule</h4>
            <div class="row">
              <div class="col-day">
                <h6>Day 1</h6>
                <div
                  cdkDropList
                  #day1="cdkDropList"
                  [cdkDropListData]="d1"
                  [cdkDropListConnectedTo]="[searchResults, day2]"
                  (cdkDropListDropped)="drop($event)"
                  class="example-list">
                  <div class="example-box" *ngFor="let item of d1" cdkDrag>

                    <mat-accordion>
                      <mat-expansion-panel>
                        <mat-expansion-panel-header>
                          <mat-panel-title style="font-size: large">
                            {{item}}
                          </mat-panel-title>
                        </mat-expansion-panel-header>
                        <hr>
                        <p>some workout data</p>
                        <hr>
                        <p>description</p>
                      </mat-expansion-panel>
                    </mat-accordion>

                  </div>
                </div>

              </div>

              <div class="col-day">
                <h6>Day 2</h6>
                <div
                  cdkDropList
                  #day2="cdkDropList"
                  [cdkDropListData]="d2"
                  [cdkDropListConnectedTo]="[searchResults, day1]"
                  class="example-list"
                  (cdkDropListDropped)="drop($event)">
                  <div class="example-box" *ngFor="let item of d2" cdkDrag>

                    <mat-accordion>
                      <mat-expansion-panel>
                        <mat-expansion-panel-header>
                          <mat-panel-title style="font-size: large">
                            {{item}}
                          </mat-panel-title>
                        </mat-expansion-panel-header>
                        <hr>
                        <p>some workout data</p>
                        <hr>
                        <p>description</p>
                      </mat-expansion-panel>
                    </mat-accordion>

                  </div>
                </div>
              </div>

            </div>
          </div>

        </div>

        <!-- --------------------------------------------------------------------------------------------- -->

        <div *ngIf="interval === 3">

          <!-- start of search results -->
          <div class="row-searchResults">
            <h4>Search results</h4>
            <p>TODO: show search results in accordeon</p>

            <div
              cdkDropList
              #searchResults="cdkDropList"
              [cdkDropListData]="searchRes"
              [cdkDropListConnectedTo]="[day1, day2, day3]"
              [id]="'searchRes3'"
              class="example-list"
              (cdkDropListDropped)="drop($event)">
              <div class="example-box" *ngFor="let item of searchRes" cdkDrag>

                <mat-accordion>
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title style="font-size: large">
                        {{item}}
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <hr>
                    <p>some workout data</p>
                    <hr>
                    <p>description</p>
                  </mat-expansion-panel>
                </mat-accordion>

              </div>
            </div>
          </div>

          <!-- start of schedule -->
          <div class="row-intervals">
            <h4>My Training Schedule</h4>
            <div class="row">
              <div class="col-day">
                <h6>Day 1</h6>
                <div
                  cdkDropList
                  #day1="cdkDropList"
                  [cdkDropListData]="d1"
                  [cdkDropListConnectedTo]="[searchResults, day2, day3]"
                  (cdkDropListDropped)="drop($event)"
                  class="example-list">
                  <div class="example-box" *ngFor="let item of d1" cdkDrag>

                    <mat-accordion>
                      <mat-expansion-panel>
                        <mat-expansion-panel-header>
                          <mat-panel-title style="font-size: large">
                            {{item}}
                          </mat-panel-title>
                        </mat-expansion-panel-header>
                        <hr>
                        <p>some workout data</p>
                        <hr>
                        <p>description</p>
                      </mat-expansion-panel>
                    </mat-accordion>

                  </div>
                </div>

              </div>

              <div class="col-day">
                <h6>Day 2</h6>
                <div
                  cdkDropList
                  #day2="cdkDropList"
                  [cdkDropListData]="d2"
                  [cdkDropListConnectedTo]="[searchResults, day1, day3]"
                  class="example-list"
                  (cdkDropListDropped)="drop($event)">
                  <div class="example-box" *ngFor="let item of d2" cdkDrag>

                    <mat-accordion>
                      <mat-expansion-panel>
                        <mat-expansion-panel-header>
                          <mat-panel-title style="font-size: large">
                            {{item}}
                          </mat-panel-title>
                        </mat-expansion-panel-header>
                        <hr>
                        <p>some workout data</p>
                        <hr>
                        <p>description</p>
                      </mat-expansion-panel>
                    </mat-accordion>

                  </div>
                </div>
              </div>

              <div class="col-day">
                <h6>Day 3</h6>
                <div
                  cdkDropList
                  #day3="cdkDropList"
                  [cdkDropListData]="d3"
                  [cdkDropListConnectedTo]="[searchResults, day1, day2]"
                  class="example-list"
                  (cdkDropListDropped)="drop($event)">
                  <div class="example-box" *ngFor="let item of d3" cdkDrag>

                    <mat-accordion>
                      <mat-expansion-panel>
                        <mat-expansion-panel-header>
                          <mat-panel-title style="font-size: large">
                            {{item}}
                          </mat-panel-title>
                        </mat-expansion-panel-header>
                        <hr>
                        <p>some workout data</p>
                        <hr>
                        <p>description</p>
                      </mat-expansion-panel>
                    </mat-accordion>

                  </div>
                </div>
              </div>

            </div>
          </div>

        </div>

        <!-- --------------------------------------------------------------------------------------------- -->

        <div *ngIf="interval === 4">

          <!-- start of search results -->
          <div class="row-searchResults">
            <h4>Search results</h4>
            <p>TODO: show search results in accordeon</p>

            <div
              cdkDropList
              #searchResults="cdkDropList"
              [cdkDropListData]="searchRes"
              [cdkDropListConnectedTo]="[day1, day2, day3, day4]"
              [id]="'searchRes4'"
              class="example-list"
              (cdkDropListDropped)="drop($event)">
              <div class="example-box" *ngFor="let item of searchRes" cdkDrag>

                <mat-accordion>
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title style="font-size: large">
                        {{item}}
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <hr>
                    <p>some workout data</p>
                    <hr>
                    <p>description</p>
                  </mat-expansion-panel>
                </mat-accordion>

              </div>
            </div>
          </div>

          <!-- start of schedule -->
          <div class="row-intervals">
            <h4>My Training Schedule</h4>
            <div class="row">
              <div class="col-day">
                <h6>Day 1</h6>
                <div
                  cdkDropList
                  #day1="cdkDropList"
                  [cdkDropListData]="d1"
                  [cdkDropListConnectedTo]="[searchResults, day2, day3, day4]"
                  (cdkDropListDropped)="drop($event)"
                  class="example-list">
                  <div class="example-box" *ngFor="let item of d1" cdkDrag>

                    <mat-accordion>
                      <mat-expansion-panel>
                        <mat-expansion-panel-header>
                          <mat-panel-title style="font-size: large">
                            {{item}}
                          </mat-panel-title>
                        </mat-expansion-panel-header>
                        <hr>
                        <p>some workout data</p>
                        <hr>
                        <p>description</p>
                      </mat-expansion-panel>
                    </mat-accordion>

                  </div>
                </div>

              </div>

              <div class="col-day">
                <h6>Day 2</h6>
                <div
                  cdkDropList
                  #day2="cdkDropList"
                  [cdkDropListData]="d2"
                  [cdkDropListConnectedTo]="[searchResults, day1, day3, day4]"
                  class="example-list"
                  (cdkDropListDropped)="drop($event)">
                  <div class="example-box" *ngFor="let item of d2" cdkDrag>

                    <mat-accordion>
                      <mat-expansion-panel>
                        <mat-expansion-panel-header>
                          <mat-panel-title style="font-size: large">
                            {{item}}
                          </mat-panel-title>
                        </mat-expansion-panel-header>
                        <hr>
                        <p>some workout data</p>
                        <hr>
                        <p>description</p>
                      </mat-expansion-panel>
                    </mat-accordion>

                  </div>
                </div>
              </div>

              <div class="col-day">
                <h6>Day 3</h6>
                <div
                  cdkDropList
                  #day3="cdkDropList"
                  [cdkDropListData]="d3"
                  [cdkDropListConnectedTo]="[searchResults, day1, day2, day4]"
                  class="example-list"
                  (cdkDropListDropped)="drop($event)">
                  <div class="example-box" *ngFor="let item of d3" cdkDrag>

                    <mat-accordion>
                      <mat-expansion-panel>
                        <mat-expansion-panel-header>
                          <mat-panel-title style="font-size: large">
                            {{item}}
                          </mat-panel-title>
                        </mat-expansion-panel-header>
                        <hr>
                        <p>some workout data</p>
                        <hr>
                        <p>description</p>
                      </mat-expansion-panel>
                    </mat-accordion>

                  </div>
                </div>
              </div>

              <div class="col-day">
                <h6>Day 4</h6>
                <div
                  cdkDropList
                  #day4="cdkDropList"
                  [cdkDropListData]="d4"
                  [cdkDropListConnectedTo]="[searchResults, day1, day2, day3]"
                  class="example-list"
                  (cdkDropListDropped)="drop($event)">
                  <div class="example-box" *ngFor="let item of d4" cdkDrag>

                    <mat-accordion>
                      <mat-expansion-panel>
                        <mat-expansion-panel-header>
                          <mat-panel-title style="font-size: large">
                            {{item}}
                          </mat-panel-title>
                        </mat-expansion-panel-header>
                        <hr>
                        <p>some workout data</p>
                        <hr>
                        <p>description</p>
                      </mat-expansion-panel>
                    </mat-accordion>

                  </div>
                </div>
              </div>

            </div>
          </div>

        </div>

        <!-- --------------------------------------------------------------------------------------------- -->

        <div *ngIf="interval === 5">

          <!-- start of search results -->
          <div class="row-searchResults">
            <h4>Search results</h4>
            <p>TODO: show search results in accordeon</p>

            <div
              cdkDropList
              #searchResults="cdkDropList"
              [cdkDropListData]="searchRes"
              [cdkDropListConnectedTo]="[day1, day2, day3, day4, day5]"
              [id]="'searchRes5'"
              class="example-list"
              (cdkDropListDropped)="drop($event)">
              <div class="example-box" *ngFor="let item of searchRes" cdkDrag>

                <mat-accordion>
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title style="font-size: large">
                        {{item}}
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <hr>
                    <p>some workout data</p>
                    <hr>
                    <p>description</p>
                  </mat-expansion-panel>
                </mat-accordion>

              </div>
            </div>
          </div>

          <!-- start of schedule -->
          <div class="row-intervals">
            <h4>My Training Schedule</h4>
            <div class="row">
              <div class="col-day">
                <h6>Day 1</h6>
                <div
                  cdkDropList
                  #day1="cdkDropList"
                  [cdkDropListData]="d1"
                  [cdkDropListConnectedTo]="[searchResults, day2, day3, day4, day5]"
                  (cdkDropListDropped)="drop($event)"
                  class="example-list">
                  <div class="example-box" *ngFor="let item of d1" cdkDrag>

                    <mat-accordion>
                      <mat-expansion-panel>
                        <mat-expansion-panel-header>
                          <mat-panel-title style="font-size: large">
                            {{item}}
                          </mat-panel-title>
                        </mat-expansion-panel-header>
                        <hr>
                        <p>some workout data</p>
                        <hr>
                        <p>description</p>
                      </mat-expansion-panel>
                    </mat-accordion>

                  </div>
                </div>

              </div>

              <div class="col-day">
                <h6>Day 2</h6>
                <div
                  cdkDropList
                  #day2="cdkDropList"
                  [cdkDropListData]="d2"
                  [cdkDropListConnectedTo]="[searchResults, day1, day3, day4, day5]"
                  class="example-list"
                  (cdkDropListDropped)="drop($event)">
                  <div class="example-box" *ngFor="let item of d2" cdkDrag>

                    <mat-accordion>
                      <mat-expansion-panel>
                        <mat-expansion-panel-header>
                          <mat-panel-title style="font-size: large">
                            {{item}}
                          </mat-panel-title>
                        </mat-expansion-panel-header>
                        <hr>
                        <p>some workout data</p>
                        <hr>
                        <p>description</p>
                      </mat-expansion-panel>
                    </mat-accordion>

                  </div>
                </div>
              </div>

              <div class="col-day">
                <h6>Day 3</h6>
                <div
                  cdkDropList
                  #day3="cdkDropList"
                  [cdkDropListData]="d3"
                  [cdkDropListConnectedTo]="[searchResults, day1, day2, day4, day5]"
                  class="example-list"
                  (cdkDropListDropped)="drop($event)">
                  <div class="example-box" *ngFor="let item of d3" cdkDrag>

                    <mat-accordion>
                      <mat-expansion-panel>
                        <mat-expansion-panel-header>
                          <mat-panel-title style="font-size: large">
                            {{item}}
                          </mat-panel-title>
                        </mat-expansion-panel-header>
                        <hr>
                        <p>some workout data</p>
                        <hr>
                        <p>description</p>
                      </mat-expansion-panel>
                    </mat-accordion>

                  </div>
                </div>
              </div>

              <div class="col-day">
                <h6>Day 4</h6>
                <div
                  cdkDropList
                  #day4="cdkDropList"
                  [cdkDropListData]="d4"
                  [cdkDropListConnectedTo]="[searchResults, day1, day2, day3, day5]"
                  class="example-list"
                  (cdkDropListDropped)="drop($event)">
                  <div class="example-box" *ngFor="let item of d4" cdkDrag>

                    <mat-accordion>
                      <mat-expansion-panel>
                        <mat-expansion-panel-header>
                          <mat-panel-title style="font-size: large">
                            {{item}}
                          </mat-panel-title>
                        </mat-expansion-panel-header>
                        <hr>
                        <p>some workout data</p>
                        <hr>
                        <p>description</p>
                      </mat-expansion-panel>
                    </mat-accordion>

                  </div>
                </div>
              </div>

              <div class="col-day">
                <h6>Day 5</h6>
                <div
                  cdkDropList
                  #day5="cdkDropList"
                  [cdkDropListData]="d5"
                  [cdkDropListConnectedTo]="[searchResults, day1, day2, day3, day4]"
                  class="example-list"
                  (cdkDropListDropped)="drop($event)">
                  <div class="example-box" *ngFor="let item of d5" cdkDrag>

                    <mat-accordion>
                      <mat-expansion-panel>
                        <mat-expansion-panel-header>
                          <mat-panel-title style="font-size: large">
                            {{item}}
                          </mat-panel-title>
                        </mat-expansion-panel-header>
                        <hr>
                        <p>some workout data</p>
                        <hr>
                        <p>description</p>
                      </mat-expansion-panel>
                    </mat-accordion>

                  </div>
                </div>

              </div>
            </div>

          </div>
        </div>

        <!-- --------------------------------------------------------------------------------------------- -->

        <div *ngIf="interval === 6">

          <!-- start of search results -->
          <div class="row-searchResults">
            <h4>Search results</h4>
            <p>TODO: show search results in accordeon</p>

            <div
              cdkDropList
              #searchResults="cdkDropList"
              [cdkDropListData]="searchRes"
              [cdkDropListConnectedTo]="[day1, day2, day3, day4, day5, day6]"
              [id]="'searchRes6'"
              class="example-list"
              (cdkDropListDropped)="drop($event)">
              <div class="example-box" *ngFor="let item of searchRes" cdkDrag>

                <mat-accordion>
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title style="font-size: large">
                        {{item}}
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <hr>
                    <p>some workout data</p>
                    <hr>
                    <p>description</p>
                  </mat-expansion-panel>
                </mat-accordion>

              </div>
            </div>
          </div>

          <!-- start of schedule -->
          <div class="row-intervals">
            <h4>My Training Schedule</h4>
            <div class="row">
              <div class="col-day">
                <h6>Day 1</h6>
                <div
                  cdkDropList
                  #day1="cdkDropList"
                  [cdkDropListData]="d1"
                  [cdkDropListConnectedTo]="[searchResults, day2, day3, day4, day5, day6]"
                  (cdkDropListDropped)="drop($event)"
                  class="example-list">
                  <div class="example-box" *ngFor="let item of d1" cdkDrag>

                    <mat-accordion>
                      <mat-expansion-panel>
                        <mat-expansion-panel-header>
                          <mat-panel-title style="font-size: large">
                            {{item}}
                          </mat-panel-title>
                        </mat-expansion-panel-header>
                        <hr>
                        <p>some workout data</p>
                        <hr>
                        <p>description</p>
                      </mat-expansion-panel>
                    </mat-accordion>

                  </div>
                </div>

              </div>

              <div class="col-day">
                <h6>Day 2</h6>
                <div
                  cdkDropList
                  #day2="cdkDropList"
                  [cdkDropListData]="d2"
                  [cdkDropListConnectedTo]="[searchResults, day1, day3, day4, day5, day6]"
                  class="example-list"
                  (cdkDropListDropped)="drop($event)">
                  <div class="example-box" *ngFor="let item of d2" cdkDrag>

                    <mat-accordion>
                      <mat-expansion-panel>
                        <mat-expansion-panel-header>
                          <mat-panel-title style="font-size: large">
                            {{item}}
                          </mat-panel-title>
                        </mat-expansion-panel-header>
                        <hr>
                        <p>some workout data</p>
                        <hr>
                        <p>description</p>
                      </mat-expansion-panel>
                    </mat-accordion>

                  </div>
                </div>
              </div>

              <div class="col-day">
                <h6>Day 3</h6>
                <div
                  cdkDropList
                  #day3="cdkDropList"
                  [cdkDropListData]="d3"
                  [cdkDropListConnectedTo]="[searchResults, day1, day2, day4, day5, day6]"
                  class="example-list"
                  (cdkDropListDropped)="drop($event)">
                  <div class="example-box" *ngFor="let item of d3" cdkDrag>

                    <mat-accordion>
                      <mat-expansion-panel>
                        <mat-expansion-panel-header>
                          <mat-panel-title style="font-size: large">
                            {{item}}
                          </mat-panel-title>
                        </mat-expansion-panel-header>
                        <hr>
                        <p>some workout data</p>
                        <hr>
                        <p>description</p>
                      </mat-expansion-panel>
                    </mat-accordion>

                  </div>
                </div>
              </div>

              <div class="col-day">
                <h6>Day 4</h6>
                <div
                  cdkDropList
                  #day4="cdkDropList"
                  [cdkDropListData]="d4"
                  [cdkDropListConnectedTo]="[searchResults, day1, day2, day3, day5, day6]"
                  class="example-list"
                  (cdkDropListDropped)="drop($event)">
                  <div class="example-box" *ngFor="let item of d4" cdkDrag>

                    <mat-accordion>
                      <mat-expansion-panel>
                        <mat-expansion-panel-header>
                          <mat-panel-title style="font-size: large">
                            {{item}}
                          </mat-panel-title>
                        </mat-expansion-panel-header>
                        <hr>
                        <p>some workout data</p>
                        <hr>
                        <p>description</p>
                      </mat-expansion-panel>
                    </mat-accordion>

                  </div>
                </div>
              </div>

              <div class="col-day">
                <h6>Day 5</h6>
                <div
                  cdkDropList
                  #day5="cdkDropList"
                  [cdkDropListData]="d5"
                  [cdkDropListConnectedTo]="[searchResults, day1, day2, day3, day4, day6]"
                  class="example-list"
                  (cdkDropListDropped)="drop($event)">
                  <div class="example-box" *ngFor="let item of d5" cdkDrag>

                    <mat-accordion>
                      <mat-expansion-panel>
                        <mat-expansion-panel-header>
                          <mat-panel-title style="font-size: large">
                            {{item}}
                          </mat-panel-title>
                        </mat-expansion-panel-header>
                        <hr>
                        <p>some workout data</p>
                        <hr>
                        <p>description</p>
                      </mat-expansion-panel>
                    </mat-accordion>

                  </div>
                </div>

                <div class="col-day">
                  <h6>Day 6</h6>
                  <div
                    cdkDropList
                    #day6="cdkDropList"
                    [cdkDropListData]="d6"
                    [cdkDropListConnectedTo]="[searchResults, day1, day2, day3, day4, day5]"
                    class="example-list"
                    (cdkDropListDropped)="drop($event)">
                    <div class="example-box" *ngFor="let item of d6" cdkDrag>

                      <mat-accordion>
                        <mat-expansion-panel>
                          <mat-expansion-panel-header>
                            <mat-panel-title style="font-size: large">
                              {{item}}
                            </mat-panel-title>
                          </mat-expansion-panel-header>
                          <hr>
                          <p>some workout data</p>
                          <hr>
                          <p>description</p>
                        </mat-expansion-panel>
                      </mat-accordion>

                    </div>
                  </div>
                </div>

              </div>
            </div>

          </div>
        </div>

        <!-- --------------------------------------------------------------------------------------------- -->

        <div *ngIf="interval === 7">

          <!-- start of search results -->
          <div class="row-searchResults">
            <h4>Search results</h4>
            <p>TODO: show search results in accordeon</p>

            <div
              cdkDropList
              #searchResults="cdkDropList"
              [cdkDropListData]="searchRes"
              [cdkDropListConnectedTo]="[day1, day2, day3, day4, day5, day6, day7]"
              [id]="'searchRes7'"
              class="example-list"
              (cdkDropListDropped)="drop($event)">
              <div class="example-box" *ngFor="let item of searchRes" cdkDrag>

                <mat-accordion>
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title style="font-size: large">
                        {{item}}
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <hr>
                    <p>some workout data</p>
                    <hr>
                    <p>description</p>
                  </mat-expansion-panel>
                </mat-accordion>

              </div>
            </div>
          </div>

          <!-- start of schedule -->
          <div class="row-intervals">
            <h4>My Training Schedule</h4>
            <div class="row">
              <div class="col-day">
                <h6>Day 1</h6>
                <div
                  cdkDropList
                  #day1="cdkDropList"
                  [cdkDropListData]="d1"
                  [cdkDropListConnectedTo]="[searchResults, day2, day3, day4, day5, day6, day7]"
                  (cdkDropListDropped)="drop($event)"
                  class="example-list">
                  <div class="example-box" *ngFor="let item of d1" cdkDrag>

                    <mat-accordion>
                      <mat-expansion-panel>
                        <mat-expansion-panel-header>
                          <mat-panel-title style="font-size: large">
                            {{item}}
                          </mat-panel-title>
                        </mat-expansion-panel-header>
                        <hr>
                        <p>some workout data</p>
                        <hr>
                        <p>description</p>
                      </mat-expansion-panel>
                    </mat-accordion>

                  </div>
                </div>

              </div>

              <div class="col-day">
                <h6>Day 2</h6>
                <div
                  cdkDropList
                  #day2="cdkDropList"
                  [cdkDropListData]="d2"
                  [cdkDropListConnectedTo]="[searchResults, day1, day3, day4, day5, day6, day7]"
                  class="example-list"
                  (cdkDropListDropped)="drop($event)">
                  <div class="example-box" *ngFor="let item of d2" cdkDrag>

                    <mat-accordion>
                      <mat-expansion-panel>
                        <mat-expansion-panel-header>
                          <mat-panel-title style="font-size: large">
                            {{item}}
                          </mat-panel-title>
                        </mat-expansion-panel-header>
                        <hr>
                        <p>some workout data</p>
                        <hr>
                        <p>description</p>
                      </mat-expansion-panel>
                    </mat-accordion>

                  </div>
                </div>
              </div>

              <div class="col-day">
                <h6>Day 3</h6>
                <div
                  cdkDropList
                  #day3="cdkDropList"
                  [cdkDropListData]="d3"
                  [cdkDropListConnectedTo]="[searchResults, day1, day2, day4, day5, day6, day7]"
                  class="example-list"
                  (cdkDropListDropped)="drop($event)">
                  <div class="example-box" *ngFor="let item of d3" cdkDrag>

                    <mat-accordion>
                      <mat-expansion-panel>
                        <mat-expansion-panel-header>
                          <mat-panel-title style="font-size: large">
                            {{item}}
                          </mat-panel-title>
                        </mat-expansion-panel-header>
                        <hr>
                        <p>some workout data</p>
                        <hr>
                        <p>description</p>
                      </mat-expansion-panel>
                    </mat-accordion>

                  </div>
                </div>
              </div>

              <div class="col-day">
                <h6>Day 4</h6>
                <div
                  cdkDropList
                  #day4="cdkDropList"
                  [cdkDropListData]="d4"
                  [cdkDropListConnectedTo]="[searchResults, day1, day2, day3, day5, day6, day7]"
                  class="example-list"
                  (cdkDropListDropped)="drop($event)">
                  <div class="example-box" *ngFor="let item of d4" cdkDrag>

                    <mat-accordion>
                      <mat-expansion-panel>
                        <mat-expansion-panel-header>
                          <mat-panel-title style="font-size: large">
                            {{item}}
                          </mat-panel-title>
                        </mat-expansion-panel-header>
                        <hr>
                        <p>some workout data</p>
                        <hr>
                        <p>description</p>
                      </mat-expansion-panel>
                    </mat-accordion>

                  </div>
                </div>
              </div>

              <div class="col-day">
                <h6>Day 5</h6>
                <div
                  cdkDropList
                  #day5="cdkDropList"
                  [cdkDropListData]="d5"
                  [cdkDropListConnectedTo]="[searchResults, day1, day2, day3, day4, day6, day7]"
                  class="example-list"
                  (cdkDropListDropped)="drop($event)">
                  <div class="example-box" *ngFor="let item of d5" cdkDrag>

                    <mat-accordion>
                      <mat-expansion-panel>
                        <mat-expansion-panel-header>
                          <mat-panel-title style="font-size: large">
                            {{item}}
                          </mat-panel-title>
                        </mat-expansion-panel-header>
                        <hr>
                        <p>some workout data</p>
                        <hr>
                        <p>description</p>
                      </mat-expansion-panel>
                    </mat-accordion>

                  </div>
                </div>
              </div>

              <div class="col-day">
                <h6>Day 6</h6>
                <div
                  cdkDropList
                  #day6="cdkDropList"
                  [cdkDropListData]="d6"
                  [cdkDropListConnectedTo]="[searchResults, day1, day2, day3, day4, day5, day7]"
                  class="example-list"
                  (cdkDropListDropped)="drop($event)">
                  <div class="example-box" *ngFor="let item of d6" cdkDrag>

                    <mat-accordion>
                      <mat-expansion-panel>
                        <mat-expansion-panel-header>
                          <mat-panel-title style="font-size: large">
                            {{item}}
                          </mat-panel-title>
                        </mat-expansion-panel-header>
                        <hr>
                        <p>some workout data</p>
                        <hr>
                        <p>description</p>
                      </mat-expansion-panel>
                    </mat-accordion>

                  </div>
                </div>
              </div>

              <div class="col-day">
                <h6>Day 7</h6>
                <div
                  cdkDropList
                  #day7="cdkDropList"
                  [cdkDropListData]="d7"
                  [cdkDropListConnectedTo]="[searchResults, day1, day2, day3, day4, day5, day6]"
                  class="example-list"
                  (cdkDropListDropped)="drop($event)">
                  <div class="example-box" *ngFor="let item of d7" cdkDrag>

                    <mat-accordion>
                      <mat-expansion-panel>
                        <mat-expansion-panel-header>
                          <mat-panel-title style="font-size: large">
                            {{item}}
                          </mat-panel-title>
                        </mat-expansion-panel-header>
                        <hr>
                        <p>some workout data</p>
                        <hr>
                        <p>description</p>
                      </mat-expansion-panel>
                    </mat-accordion>

                  </div>
                </div>
              </div>


            </div>
          </div>
        </div>
        <button type="button" (click)="addWorkouts(); changeView()" class="btn btn-success float-right">Add</button>
        <button (click)="changeView()" class="btn btn-link">Cancel</button>
      </div>
    </div>
  </div>
</div>
<!-- end of second view -->
