<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
      integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

<div *ngIf="error" class="alert alert-warning alert-dismissible fade show" role="alert">{{ error }}
  <button type="button" (click)="vanishError()" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div  class="container-fluid">

  <div class="container">
    <div class="row">

      <div class="col-sm-3">
        <img class="img-fluid" src="{{imagePath}}" alt="dude profile image">
        <div class="row-sm-10">
          <h4 style="text-decoration: underline; text-align: center">{{userName}}</h4>
        </div>
      </div>
      <div class="col-sm-9">
        <h1>Create Training Schedule rAnDoMlY</h1>

        <div class="tsForm">

          <form [formGroup]="tsForm">
            <span class="anchor" id="formRegister"></span>

            <div class="form-group">
              <label for="tsName">Name*</label>
              <input type="text" name="tsName" maxlength="50" class="form-control" id="tsName"
                     formControlName="tsName"
                     aria-describedby="tsNameHelp" placeholder="Enter name">
              <div *ngIf="submitted && !!tsForm.controls.tsName.errors" class="error">
                <small class="form-text text-warning" *ngIf="!!tsForm.controls.tsName.errors.required">Name is
                  required!
                </small>
              </div>
            </div>

            <div class="form-group-sh">
              <!--start - field-->
              <label for="tsMinTarget">Minimum Calorie Consumption*</label>
              <input type="number" name="tsMinTarget"min="1" max="1000" class="form-control" id="tsMinTarget"
                     formControlName="tsMinTarget"
                     aria-describedby="tsMinTargetHelp">
              <div *ngIf="submitted && !!tsForm.controls.tsMinTarget.errors" class="error">
                <small class="form-text text-warning" *ngIf="!!tsForm.controls.tsMinTarget.errors.required">Name is
                  required!
                </small>
              </div>
              <!--end - field-->
              <!--start - field-->
              <label for="tsMaxTarget">Maximum Calorie Consumption*</label>
              <input type="number" name="tsMaxTarget" min="1" max="1000" class="form-control" id="tsMaxTarget"
                     formControlName="tsMaxTarget"
                     aria-describedby="tsMaxTargetHelp">
              <div *ngIf="submitted && !!tsForm.controls.tsMaxTarget.errors" class="error">
                <small class="form-text text-warning" *ngIf="!!tsForm.controls.tsMaxTarget.errors.required">Max Tar is
                  required!
                </small>
              </div>
              <!--end - field-->
              <!--start - field-->
              <label for="tsRepetitions">Repetitions*</label>
              <input type="number" min="1" max="100" name="tsRepetitions" class="form-control" id="tsRepetitions" formControlName="tsRepetitions"
                     aria-describedby="repetitionsHelp">
              <div *ngIf="submitted && !!tsForm.controls.tsRepetitions.errors" class="error">
                <small class="form-text text-warning" *ngIf="!!tsForm.controls.tsRepetitions.errors.required">Repetitions is required!</small>
              </div>
              <!--end - field-->
              <!--start - field-->
              <mat-form-field>
                <mat-label>Interval Lenght*</mat-label>
                <mat-select formControlName="tsInterval">
                  <mat-option *ngFor="let days of intervalDays" [value]="intervalDays.indexOf(days)+1">
                    {{days}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <div *ngIf="submitted && !!tsForm.controls.tsInterval.errors" class="error">
                <small class="form-text text-warning" *ngIf="!!tsForm.controls.tsInterval.errors.required">Interval is required!</small>
              </div>
              <!--end - field-->
              <!--start - field-->
              <mat-checkbox color="primary" class= "RadioButton" formControlName="tsOnlyMyDifficulty">Consider also easier workouts</mat-checkbox>
              <!--end - field-->
            </div>
          </form>




        </div>

        <div class="row-buttons">
          <a [routerLink]="['/create']" class="btn btn-link">Cancel</a>
          <button type="button" (click)="createTrainingSchedule()" class="btn btn-success float-right">Create</button>
          <p><small>Fields marked with * are mandatory!</small></p>
        </div>
      </div>
    </div>
  </div>
</div>

