<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
      integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

<div *ngIf="error" class="alert alert-warning alert-dismissible fade show" role="alert">{{ error }}
  <button type="button" (click)="vanishError()" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="container-fluid">

  <div class="container">
    <div class="row">

      <div class="col-sm-3">
        <img class="img-fluid" src="{{imagePath}}" alt="dude profile image">
        <div class="row-sm-10">
          <h4 style="text-decoration: underline; text-align: center">{{userName}}</h4>
        </div>
      </div>
      <div class="col-sm-9">
        <h1>Create Training Schedule Randomly</h1>

        <div class="tsForm">

          <form [formGroup]="tsForm">
            <span class="anchor" id="formRegister"></span>

            <div class="form-group">
              <label for="tsName">Name*</label>
              <input type="text" name="tsName" maxlength="50" class="form-control" id="tsName"
                     formControlName="tsName"
                     aria-describedby="tsNameHelp" placeholder="Enter name">
              <div *ngIf="submitted && !!tsForm.controls.tsName.errors" class="error">
                <small class="form-text text-warning" *ngIf="!!tsForm.controls.tsName.errors.required">Name is
                  required!
                </small>
              </div>
            </div>

            <div class="form-group">
              <!--start - field-->
              <label for="tsMinTarget">Minimum Calorie Consumption*</label>
              <input type="number" name="tsMinTarget" class="form-control" id="tsMinTarget"
                     formControlName="tsMinTarget"
                     aria-describedby="tsMinTargetHelp" placeholder="Enter minimum calories">
              <div *ngIf="submitted && !!tsForm.controls.tsMinTarget.errors" class="error">
                <small class="form-text text-warning" *ngIf="!!tsForm.controls.tsMinTarget.errors.required">Minimum
                  calorie consumption is
                  required!
                </small>
                <small class="form-text text-warning" *ngIf="!!tsForm.controls.tsMinTarget.errors.min">Minimum calorie
                  consumption must
                  be at least 1!
                </small>
                <small class="form-text text-warning" *ngIf="!!tsForm.controls.tsMinTarget.errors.max">Minimum calorie
                  consumption can
                  be 9999 max!
                </small>
              </div>
            </div>

            <!--end - field-->
            <!--start - field-->
            <div class="form-group">
              <label for="tsMaxTarget">Maximum Calorie Consumption*</label>
              <input type="number" name="tsMaxTarget" class="form-control" id="tsMaxTarget"
                     formControlName="tsMaxTarget"
                     aria-describedby="tsMaxTargetHelp" placeholder="Enter maximum calories">
              <div *ngIf="submitted && !!tsForm.controls.tsMaxTarget.errors" class="error">
                <small class="form-text text-warning" *ngIf="!!tsForm.controls.tsMaxTarget.errors.required">Maximum
                  calorie consumption is
                  required!
                </small>
                <small class="form-text text-warning" *ngIf="!!tsForm.controls.tsMaxTarget.errors.min">Maximum calorie
                  consumption must
                  be at least 1!
                </small>
                <small class="form-text text-warning" *ngIf="!!tsForm.controls.tsMaxTarget.errors.max">Maximum calorie
                  consumption can
                  be 9999 max!
                </small>
              </div>
            </div>


            <!--end - field-->
            <!--start - field-->
            <div class="form-group">
              <label for="tsDuration">Maximum duration per day in minutes*</label>
              <input type="number" name="tsDuration" class="form-control" id="tsDuration" formControlName="tsDuration"
                     aria-describedby="tsDurationHelp" placeholder="Enter maximum duration">
              <div *ngIf="submitted && !!tsForm.controls.tsDuration.errors" class="error">
                <small class="form-text text-warning" *ngIf="!!tsForm.controls.tsDuration.errors.required">Maximum
                  duration is required!
                </small>
                <small class="form-text text-warning" *ngIf="!!tsForm.controls.tsDuration.errors.min">Maximum duration
                  must
                  be at least 1 min!
                </small>
                <small class="form-text text-warning" *ngIf="!!tsForm.controls.tsDuration.errors.max">Maximum duration
                  can
                  be 1440 min max!
                </small>
              </div>
            </div>

            <!--end - field-->
            <!--start - field-->
            <div class="form-group">
              <mat-form-field>
                <mat-label>Interval Length*</mat-label>
                <mat-select formControlName="tsInterval">
                  <mat-option *ngFor="let days of intervalDays" [value]="intervalDays.indexOf(days)+1">
                    {{days}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <div *ngIf="submitted && !!tsForm.controls.tsInterval.errors" class="error">
                <small class="form-text text-warning" *ngIf="!!tsForm.controls.tsInterval.errors.required">Interval is
                  required!
                </small>
              </div>
              <!--end - field-->
              <!--start - field-->
              <mat-checkbox color="primary" class="RadioButton" formControlName="tsOnlyMyDifficulty">Tick to include
                easier workouts than your self assessment!
              </mat-checkbox>
              <!--end - field-->
            </div>
          </form>
        </div>

        <div class="row-buttons">
          <a [routerLink]="['/create']" class="btn btn-link">Cancel</a>
          <button type="button" (click)="createTrainingSchedule()" class="btn btn-success float-right">Create</button>
          <p>
            <small>Fields marked with * are mandatory!</small>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

