<div *ngIf="error" class="alert alert-warning alert-dismissible fade show" role="alert">{{ error }}
  <button type="button" (click)="vanishError()" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="container-fluid">

  <div class="container">
    <div class="row">

      <div class="col-sm-3">
        <img class="img-fluid" src="{{imagePath}}" alt="dude profile image">
        <div class="row-sm-1">
          <h4 style="text-decoration: underline; text-align: center">{{userName}}</h4>
        </div>
      </div>
      <div class="col-sm-9">
        <h1>{{tsName}}</h1>

        <p>Difficulty: {{convertDifficulty(trainingSchedule.difficulty)}}</p>
        <p>"{{trainingSchedule.description}}"</p>
        <div>

          <div class="scrolling-wrapper">
            <mat-card class="card" *ngFor="let element of tabs">
              <h1>{{element}}</h1>
              <hr>
              <div class="altContent">
                <p *ngIf="workoutsPerDay[tabs.indexOf(element)]!= undefined && workoutsPerDay[tabs.indexOf(element)].length == 0">No Workouts for {{element}}</p>
              </div>
              <button mat-stroked-button class="card-in-card" matTooltip="Click for more details"
                      [matTooltipShowDelay]="1000"
                      *ngFor='let workout of workoutsPerDay[tabs.indexOf(element)]'
                      [value]="workout" (click)="selectedWorkout = workout; getSelectedWorkoutExercises(selectedWorkout)">
                {{workout.name}}
              </button>
            </mat-card>
          </div>
          <div class="details" *ngIf="selectedWorkout.length != 0">
            <hr>
            <button class="hideButton" mat-flat-button (click)="selectedWorkout = []">Hide details</button>
            <hr>
            <mat-card>
              <h2>{{selectedWorkout.name}}</h2>
              <p>Difficulty: {{convertDifficulty(selectedWorkout.difficulty)}}</p>
              <p>Calorie Consumption: {{selectedWorkout.calorieConsumption}}</p>
              <hr>
              <p>"{{selectedWorkout.description}}"</p>
              <hr>
              <mat-accordion>
                <mat-expansion-panel *ngFor='let exercise of exercisesForWorkouts'>
                  <mat-expansion-panel-header>
                    <mat-panel-title style="font-size: large">
                      {{exercise.name}}
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <hr>
                  <p>Category: {{exercise.category}}</p>
                  <p>Muscle Group: {{exercise.muscleGroup}}</p>
                  <!--p>Difficulty: {{convertDifficulty(exercise.difficulty_level)}}</p-->
                  <hr>
                  <p>Repetitions: {{exercise.repetitions}}</p>
                  <p>Sets: {{exercise.sets}}</p>
                  <hr>
                  <p>Duration: {{exercise.exDuration}}</p>
                  <p>Equipment: {{exercise.equipment}}</p>
                  <hr>
                  <p>"{{exercise.description}}"</p>

                </mat-expansion-panel>
              </mat-accordion>
            </mat-card>
            <hr>
            <button class="hideButton"  mat-flat-button (click)="selectedWorkout = []">Hide details</button>
          </div>

          <!--mat-tab-group-- [selectedIndex]="selected.value" (selectedIndexChange)="selected = $event; tabContent = getContent(selected)" animationDuration="0">
            <mat-tab  *ngFor="let element of tabs" [label]="element">
              <p *ngIf="tabContent != undefined && tabContent.length == 0"> No workouts scheduled for Day {{selected +1}}</p>
              <mat-accordion>
                <mat-expansion-panel *ngFor='let element of tabContent'  (opened)="getSelectedWorkoutExercises(element)" >
                  <mat-expansion-panel-header>
                    <mat-panel-title style="font-size: large">
                      {{element.name}}
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <hr>
                  <p>Difficulty: {{convertDifficulty(element.difficulty)}}</p>
                  <p>Calorie Consumption: {{element.calorieConsumption}}</p>
                  <hr>
                  <p>"{{element.description}}"</p>
                  <hr>
                  <p style="font-size: medium">Exercises:</p>
                  <div *ngFor='let exercise of exercisesForWorkouts'>
                    <mat-accordion>
                      <mat-expansion-panel>
                        <mat-expansion-panel-header>
                          <mat-panel-title style="font-size: large">
                            {{exercise.name}}
                          </mat-panel-title>
                        </mat-expansion-panel-header>
                        <hr>
                        <p>Category: {{exercise.category}}</p>
                        <p>Muscle Group: {{exercise.muscleGroup}}</p>

                        <hr>
                        <p>Repetitions: {{exercise.repetitions}}</p>
                        <p>Sets: {{exercise.sets}}</p>
                        <hr>
                        <p>Duration: {{exercise.exDuration}}</p>
                        <p>Equipment: {{exercise.equipment}}</p>
                        <hr>
                        <p>"{{exercise.description}}"</p>

                      </mat-expansion-panel>
                    </mat-accordion>
                  </div>
                </mat-expansion-panel>
              </mat-accordion>
            </mat-tab>
          </mat-tab-group-->
        </div>
      </div>

    </div>
  </div>

</div>


