<div *ngIf="error" class="alert alert-warning alert-dismissible fade show" role="alert">{{ error }}
  <button type="button" (click)="vanishError()" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="container-fluid">

  <div class="container">
    <div class="row">

      <div class="col-sm-3">
        <img class="img-fluid" src="{{imagePath}}" alt="dude profile image">
        <div class="row-sm-1">
          <h4 style="text-decoration: underline; text-align: center">{{userName}}</h4>
        </div>
      </div>
      <div class="col-sm-9">
        <h1>{{tsName}}</h1>

        <p>Difficulty: {{trainingSchedule.difficulty}}</p>
        <p>{{trainingSchedule.description}}</p>
        <div>
          <mat-tab-group [selectedIndex]="selected.value" (selectedIndexChange)="selected.value($event)">

            <mat-tab  *ngFor="let element of tabs" [label]="'Day ' + [selected.value +1]">
              <ul style="list-style-type: none;" >
                <li  *ngFor='let element of tabContent' >
                  <mat-accordion>
                    <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <mat-panel-title style="font-size: large">
                          {{element.name}}
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      <hr>
                      <hr>
                      <p>"{{element.description}}"</p>
                    </mat-expansion-panel>
                  </mat-accordion>
                </li>
              </ul>

            </mat-tab>
          </mat-tab-group>
        </div>
      </div>

    </div>
  </div>

</div>


