<div class="container-fluid">

  <div class="container">
    <div class="row">

      <div class="col-sm-3">
        <img class="img-fluid" src="{{imagePath}}" alt="dude profile image">
        <div class="row-sm-1">
          <h4 style="text-decoration: underline;">{{userName}}</h4>
        </div>
      </div>
      <div class="col-sm-9">
        <div class="row">
          <div class="col">
            <h1>{{exerciseName}}</h1>
            <p>Rating: <ngb-rating  [(rate)]="rating" max="5"></ngb-rating> {{rating}}/5</p>
            <p> Equipment: {{equipment}} </p>
            <p> Category: {{category}} </p>
            <p> Muscle group: {{muscleGroup}} </p>
            <p> Description: {{description}} </p>
            <p> Visibility: {{convertPrivate()}}</p>
          </div>
          <div class ="col">
            <img class="img-fluid" src="{{imagePath2}}" align="center" alt="exercise image">
          </div>
        </div>
      </div>

    </div>
  </div>

</div>


