<div *ngIf="error" class="alert alert-warning alert-dismissible fade show" role="alert">{{ error }}
  <button type="button" (click)="vanishError()" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<body>

<div class="container-fluid">

  <div class="container">
    <div class="row">

      <div class="col-sm-3">
        <img class="img-fluid" [src]="getLinkPicture()"  alt="dude profile image">
        <div class="row-sm-1"></div>
        <div class="row-sm-10">
          <h4 style="text-decoration: underline;">{{userName}}</h4>
          <p></p>
          <p>Skill: {{skill}}</p>
          <p>Age: {{age}}</p>
          <p>Sex: {{sex}}</p>
          <p>Height: {{height}} cm</p>
          <p>Weight: {{weight}} kg</p>
          <p>Bmi: {{bmi}}</p>
          <p>Fitness providers: <a [routerLink]="['/fitnessProviders']" class="btn2 btn-link">My Fitness Providers</a>
          </p>
          <p>Description: {{description}}</p>
          <p>E-Mail: {{email}}</p>
          <p>Visibility: {{convertPrivate()}}</p>
        </div>
        <div class="row-sm-1">
          <a [routerLink]="['/edit-dude']" class="btn btn-link">Edit Profile</a>
          <a class="btn btn-link2" (click)="file.click()">Upload Picture</a>
        </div>
      </div>

      <input #file type="file" style="display: none" accept='image/*' data-toggle="modal" data-target="#cropModal" (change)="fileChangeEvent($event)" />
      <div class="modal" id="cropModal">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">

            <div class="modal-header">
              <h4 class="modal-title">Select a picture to upload for your profile</h4>
            </div>
            <span  style="color:orange;  position: center; margin-left: auto; margin-right: auto; " *ngIf="message && crop">{{message}}</span>
            <image-cropper
              [imageChangedEvent]="imageChangedEvent"
              [maintainAspectRatio]="true"
              [resizeToWidth]="0"
              (imageCropped)="imageCropped($event)"
              (imageLoaded)="imageLoaded()"
              (loadImageFailed)="loadImageFailed()"
            ></image-cropper>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
              <button (click)= "cropPicture()" class="btn btn-success" data-dismiss="modal" >Crop </button>
            </div>
          </div>
        </div>
      </div>


      <div class="col-sm-9">
        <h1>Current Training Schedule</h1>
        <p>Tick the done button in an exercise to mark your progress!</p>
        <hr>
        <div *ngIf="activeTs && tsTrue">
          <div class="row">
            <div class="col">
              <h2>{{tsName}}</h2>
            </div>
            <div class="col">
              <button class="deactivate btn btn-danger float-right" data-toggle="modal" data-target="#deActiveModal">End
                Schedule
              </button>
            </div>
          </div>

          <p>Difficulty: {{convertDifficulty(tsDifficulty)}}</p>
          <p>"{{tsDescription}}"</p>
          <div class="scrolling-wrapper">
            <mat-card class="card" *ngFor="let element of tabs">
              <h1 style="color: green" *ngIf="tabs.indexOf(element) + prog(tsIntervalLenght, globalTimeDelta) == globalTimeDelta">{{element}}</h1>
              <h1 *ngIf="tabs.indexOf(element) + prog(tsIntervalLenght, globalTimeDelta) != globalTimeDelta">{{element}}</h1>
              <hr>
              <div class="altContent">
                <p *ngIf="workoutsPerDay[tabs.indexOf(element)]!= undefined && workoutsPerDay[tabs.indexOf(element)].length == 0">
                  No Workouts for {{element}}</p>
              </div>
              <button mat-stroked-button class="card-in-card" matTooltip="Click for more details"
                      [matTooltipShowDelay]="1000"
                      *ngFor='let workout of workoutsPerDay[tabs.indexOf(element)]'
                      [value]="workout"
                      (click)="selectedWorkout = workout; getSelectedWorkoutExercises(selectedWorkout); selectedDay = 1 + tabs.indexOf(element) + prog(tsIntervalLenght, globalTimeDelta) ">
                {{workout.name}}
              </button>
            </mat-card>
          </div>
          <div class="details" *ngIf="selectedWorkout.length !== 0">

            <section>
              <button class="hideButton" mat-flat-button (click)="selectedWorkout = []">Hide details</button>
            </section>

            <section>
              <mat-card class="detailsContent">
                <h2>Day {{selectedDay}}: {{selectedWorkout.name}}</h2>
                <p>Difficulty: {{convertDifficulty(selectedWorkout.difficulty)}}</p>
                <p>Calorie Consumption: {{selectedWorkout.calorieConsumption}}</p>
                <hr>
                <p>"{{selectedWorkout.description}}"</p>
                <hr>
                <mat-accordion>
                  <mat-expansion-panel *ngFor='let exercise of exercisesForWorkouts'>
                    <mat-expansion-panel-header>
                      <mat-panel-title style="font-size: large">
                        {{exercise.name}}
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-checkbox
                      class="myCheckbox"
                      color="primary"
                      [disabled]="!(selectedDay == globalTimeDelta + 1)"
                      [ngModel]="getExercisesStatus(exercise.id, selectedDay)"
                      (ngModelChange)="setExercisesStatus(exercise.id, exercise.version, selectedDay, $event)">Done
                    </mat-checkbox>
                    <hr>
                    {{doneChecked}}
                    <hr>
                    <p>Category: {{exercise.category}}</p>
                    <p>Muscle Group: {{exercise.muscleGroup}}</p>
                    <hr>
                    <p>Repetitions: {{exercise.repetitions}}</p>
                    <p>Sets: {{exercise.sets}}</p>
                    <hr>
                    <p>Duration: {{exercise.exDuration}}</p>
                    <p>Equipment: {{exercise.equipment}}</p>
                    <hr>
                    <p>"{{exercise.description}}"</p>

                  </mat-expansion-panel>
                </mat-accordion>
              </mat-card>
            </section>

            <section>
              <button class="hideButton" mat-flat-button (click)="selectedWorkout = null">Hide details</button>
            </section>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>

</body>

<!-- modal for deactivating trainingSchedule -->
<div class="modal" id="deActiveModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title">Do you want to end {{tsName}}?</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="cancel btn" data-dismiss="modal">Cancel</button>
        <button type="button" (click)="deactivate()" class="deactivate btn btn-danger" data-dismiss="modal">End
          Schedule
        </button>
      </div>

    </div>
  </div>
</div>


