<div *ngIf="error" class="alert alert-warning alert-dismissible fade show" role="alert">{{ error }}
  <button type="button" (click)="vanishError()" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<body>
<div class="container-fluid">

  <div class="container">
    <div class="row">

      <div class="col-sm-3">
        <img class="img-fluid" src="{{imagePath}}" alt="dude profile image">
        <div class="row-sm-1"></div>
        <div class="row-sm-10">
          <h4 style="text-decoration: underline;">{{userName}}</h4>
          <img class="img-course" [src]="imagePath2" height="200" *ngIf="imagePath2" alt="course image" >
        </div>
      </div>
      <div class="col-sm-9">
        <div class="form">
          <form [formGroup]="editCourseForm" (ngSubmit)="addCourse()">
            <span class="anchor" id="formRegister"></span>
            <h1>Edit Course</h1>

            <div class="form-group">
              <label for="editCourseName">Name*</label>
              <input ngModel="{{courseName}}" type="text" name="name" maxlength="50" class="form-control" id="editCourseName" formControlName="name"
                     aria-describedby="editCourseNameHelp">
              <div *ngIf="submitted && !!editCourseForm.controls.name.errors" class="error">
                <small class="form-text text-warning" *ngIf="!!editCourseForm.controls.name.errors.required">Name is
                  required!
                </small>
              </div>
            </div>

            <div class="form-group">
              <label for="editCourseDescription">Description*</label>
              <textarea ngModel="{{description}}" type="text" name="description" class="form-control" id="editCourseDescription" formControlName="description"
                     aria-describedby="editCourseDescriptionHelp" maxlength="3000"></textarea>
              <span>{{3000 - editCourseForm.controls.description.value.length}} left</span>
              <div *ngIf="submitted && !!editCourseForm.controls.description.errors" class="error">
                <small class="form-text text-warning" *ngIf="!!editCourseForm.controls.description.errors.required">Description is
                  required!
                </small>
              </div>
            </div>
          </form>

          <input #file type="file" style="display: none" accept='image/*' data-toggle="modal" data-target="#cropModal" (change)="fileChangeEvent($event)" />
          <div class="modal" id="cropModal">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">

                <div class="modal-header">
                  <h4 class="modal-title">Select a picture to upload for the course</h4>
                </div>
                <span  style="color:orange;  position: center; margin-left: auto; margin-right: auto; " *ngIf="message && crop">{{message}}</span>
                <image-cropper
                  [imageChangedEvent]="imageChangedEvent"
                  [maintainAspectRatio]="true"
                  [resizeToWidth]="0"
                  (imageCropped)="imageCropped($event)"
                  (imageLoaded)="imageLoaded()"
                  (loadImageFailed)="loadImageFailed()"
                ></image-cropper>
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                  <button (click)= "cropPicture()" class="btn btn-success" data-dismiss="modal" >Crop </button>
                </div>
              </div>
            </div>
          </div>

          <div>
            <button class="btn btn-upload" (click)="file.click()">Upload Picture</button>
          </div>
          <button type="button" (click)="editCourse()" class="btn btn-success float-right">Edit</button>
          <a [routerLink]="['/create-for-FP']" class="btn btn-link">Cancel</a>
        </div>
        <p><small>Fields marked with * are mandatory!</small></p>
      </div>
    </div>
  </div>
</div>

</body>



