<h2>Register as Dude</h2>

  <div class="pt-3">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <span class="anchor" id="formRegister"></span>
          <form [formGroup]="registerForm" (ngSubmit)="registerUser()">

  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" name="name" formControlName="name" class="form-control" id="name"
           aria-describedby="nameHelp" placeholder="Enter name">
    <div *ngIf="submitted && !!registerForm.controls.name.errors" class="error">
    <small class="form-text text-warning" *ngIf="!!registerForm.controls.name.errors.required">Your name is
      required!
    </small>
  </div>
  </div>

  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" name="password" formControlName="password" class="form-control" id="password"
           placeholder="Enter password">
    <div *ngIf="submitted && !!registerForm.controls.password.errors" class="error">
      <small class="form-text text-warning" *ngIf="!!registerForm.controls.password.errors.required">Your password is
        required!
      </small>
      <small class="form-text text-warning" *ngIf="!!registerForm.controls.password.errors.minlength">Your password
        must be at least 8 characters long!
      </small>
    </div>
  </div>

  <div class="form-group">
    <label for="passwordConfirmed">Password Confirmed</label>
    <input type="password" name="passwordConfirmed" formControlName="passwordConfirmed" class="form-control" id="passwordConfirmed"
           placeholder="Enter password">
    <div *ngIf="submitted && !!registerForm.controls.passwordConfirmed.errors" class="error">
      <small class="form-text text-warning" *ngIf=" !!registerForm.controls.passwordConfirmed.errors.required">Your password is
        required!
      </small>
      <small class="form-text text-warning" *ngIf="!!registerForm.controls.passwordConfirmed.errors.passwordCheck"> Confirmed password does not match
      </small>
    </div>
  </div>

  <div class="form-group">
    <label for="email">Email</label>
    <input type="text" name="email" formControlName="email" class="form-control" id="email"
           aria-describedby="emailHelp" placeholder="Enter email">
    <div *ngIf="submitted && !!registerForm.controls.email.errors" class="error">
      <small class="form-text text-warning" *ngIf="!!registerForm.controls.email.errors.required">Your email is
        required!
      </small>
    </div>
  </div>

  <div class="form-group">
    <label for="sex">Sex</label>
    <input type="text" name="sex" formControlName="sex" class="form-control" id="sex"
           aria-describedby="sexHelp" placeholder="Enter sex">
    <div *ngIf="submitted && !!registerForm.controls.sex.errors" class="error">
      <small class="form-text text-warning" *ngIf="!!registerForm.controls.sex.errors.required">Your sex is
        required!
      </small>
    </div>
  </div>

  <div class="form-group">
    <label for="selfAssessment">SelfAssessment</label>
    <input type="text" name="selfAssessment" formControlName="selfAssessment" class="form-control" id="selfAssessment"
           aria-describedby="selfAssessmentHelp" placeholder="Enter selfAssessment">
    <div *ngIf="submitted && !!registerForm.controls.selfAssessment.errors" class="error">
      <small class="form-text text-warning" *ngIf="!!registerForm.controls.selfAssessment.errors.required">Your selfAssessment is
        required!
      </small>
    </div>
  </div>

  <div class="form-group">
    <label for="birthday">Birthday</label>
    <input type="text" name="birthday" formControlName="birthday" class="form-control" id="birthday"
           aria-describedby="birthdayHelp" placeholder="Enter birthday">
    <div *ngIf="submitted && !!registerForm.controls.birthday.errors" class="error">
      <small class="form-text text-warning" *ngIf="!!registerForm.controls.birthday.errors.required">Your birthday is
        required!
      </small>
    </div>
  </div>

  <div class="form-group">
    <label for="name">Height</label>
    <input type="text" name="height" formControlName="height" class="form-control" id="height"
           aria-describedby="heightHelp" placeholder="Enter height">
    <div *ngIf="submitted && !!registerForm.controls.height.errors" class="error">
      <small class="form-text text-warning" *ngIf="!!registerForm.controls.height.errors.required">Your height is
        required!
      </small>
    </div>
  </div>

  <div class="form-group">
    <label for="weight">Weight</label>
    <input type="text" name="weight" formControlName="weight" class="form-control" id="weight"
           aria-describedby="weightHelp" placeholder="Enter weight">
    <div *ngIf="submitted && !!registerForm.controls.weight.errors" class="error">
      <small class="form-text text-warning" *ngIf="!!registerForm.controls.weight.errors.required">Your weight is
        required!
      </small>
    </div>
  </div>


  <button type="button" (click)="registerUser()" class="btn btn-success float-right">Register</button>
            <a [routerLink]="['/login']" class="btn btn-link">Cancel</a>
          </form>

      </div>
    </div>
  </div>
