<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
<div class="container-fluid">

  <div class="container">
    <div class="row">

      <div class="col-sm-3">
        <img class="img-fluid" src="{{imagePath}}" alt="fitness provider profile image">
        <div class="row-sm-1">
          <h4 style="text-decoration: underline;">{{userName}}</h4>
        </div>
      </div>
      <div class="col-sm-9">
        <div class="row">
          <div class="col">
            <h1>{{dudeName}}</h1>
            <p> Description: {{description}} </p>
            <p> E-Mail: {{email}} </p>
            <p> Sex: {{sex}} </p>
            <p> Self-Assessment: {{selfAssessment}} </p>
            <p> Birthday: {{birthday}} </p>
            <p> Height: {{height}} </p>
            <p> Weight: {{weight}} </p>
          </div>
          <div class ="col">
            <img class="img-fluid" src="{{imagePath2}}" align="center" alt="dude image">
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
